// Color variables (appears count calculates by raw css)
@color0: #e6e6e6; // Appears 2 times
@color1: #cccccc; // Appears 2 times

// table styles for main lists
.al-theme {
    .table-striped tbody tr.danger {
        cursor: wait;
    }
    .table-striped tbody tr.danger>td {
        color: @color1;
        * {
            color: @color1;
        }
    }
    .table-striped tbody tr {
        &:nth-child(even)>td {
            background-color: @table_even_row;
        }
        &:nth-child(even)>th {
            background-color: @table_even_row;
        }
        &:nth-child(odd)>td {
            background-color: @table_odd_row;
        }
        &:nth-child(odd)>th {
            background-color: @table_odd_row;
        }
    }
    .table tbody tr td {
        transition: all .3s ease-out;       
        border-top: 1px solid @color0;
        color: #666666;
        font-family: BrandonRegular;
        font-size: 14px;
        padding: 7px 8px;
        vertical-align: middle;
    }
    .table tbody tr {
        &:last-child {
            td {
                border-bottom: 1px solid @color0;
            }
        }
    }
    .table-striped {
        thead {
            th {
                color: #000000;
                font-family: BrandonMedium;
                font-size: 12px;
                text-transform: capitalize;
            }
        }
    }
    .table>thead>tr>th {
        border-bottom: none;
        vertical-align: bottom;
    }


    .table.table-selectable{
        tbody{
            tr{
                 cursor:pointer;
            }
            .rowselected {
                 td{                
                    background-color: #d4d4d4;
                }
            }
        }
    }

    .table-x-scroll{
        width: 100%;
        overflow-x: auto;
    }


    .table-x-scroll {
        .contact-list {
            tbody {
                tr>td.row-selected {
                    background-color: #dff0d8;
                }
                tr>td a{
                    cursor:default;
                }
            }
        }
        .width-manual{
            min-width: 3000px;
        }
    }

    .table-scrollable{
        width: 100%;
        border-spacing: 0;
        thead, tbody, tr, th, td {
            display: block;
        }
       thead tr {
            /* fallback */
            width: 97%;
            /* minus scroll bar width */
            width:~"calc(100% - 16px)";
        }

        tr:after {  /* clearing float */
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        tbody {
            height: 280px;
            overflow-y: auto;
            overflow-x: hidden;
            td{
                height: 39px;
            }
        }

        tbody td, thead th {
            width: 33.2%;  /* 33.2% is less than (100% / 3 cols) = 33.3% */
            float: left;
        }

    }

    .table-full-condensed tbody tr{
        td{
            padding: 0;
            height: 27px;
            line-height: 24px;
            .abx-number-input,.abx-number-arrows{
                vertical-align: top;
                height: 100%;
                margin: 0;
                padding-top: 0;
            }
            .abx-number-arrows i{
               line-height: normal;
            }
        }
    }

}