<div class="well well-sm">
    <a ui-sref="skills.list">
        &lt&lt Back to List
    </a>
</div>

<abx-message msg="$ctrl.message"></abx-message> 

<form class="custom_form" name="formSkill" novalidate ng-submit="formSkill.$valid && $ctrl.save()">
    <div class="form-group" ng-class="{ 'has-error': formSkill.skillName.$invalid && formSkill.$submitted }">       
            <input    placeholder="NAME (*)"  type="text" class="form-control" 
            id="inputName" ng-model="$ctrl.newSkill.name" name="skillName" required ng-minlength="5" 
         />                    
                <div ng-messages="formSkill.skillName.$error" ng-show="formSkill.$submitted">
                <p ng-message="minlength">This field is too short</p>
                <p ng-message="required">This field is required</p>
            </div>       
    </div>
    <div class="form-group">      
            <input  placeholder="DESCRIPTION" type="text" id="inputDesc" class="form-control" ng-model="$ctrl.newSkill.description"/>
    </div>
    <div class="form-group">
            <input placeholder="MESSAGE OF THE DAY" type="text" class="form-control" id="inputMessage" ng-model="$ctrl.newSkill.messageOfTheDay"/>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="inlineCheckbox1" ng-model="$ctrl.newSkill.routeVoiceMails">
             ROUTE VOICE MAILS
        </label>                   
    </div> 
    
    <div class="form-group text-center">     
        <button type="submit" class="btn btn-black" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
        <button type="button" class="btn btn-black" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>
