<div class="row fixed-margin-bottom-10">
	<div class="pull-left title-container">
		<img src="assets/rqa/images/f9-sm.png">
		<span>Recording QA</span>
	</div>
	<div class="pull-right actions-container">
    	<button class="icon-button fixed-margin-left-10" ng-click="$ctrl.applyDate(true)">
    		<span class="rqa-icon rqa-refresh"></span>
    	</button>
		<div class="display-inline-block fixed-margin-left-10">
			<button class="icon-button">
				<span class="rqa-icon rqa-reports"></span>
			</button>
			<button class="icon-button" ng-click="$ctrl.switchFilters()" ng-class="{'active': $ctrl.open}">
				<span class="rqa-icon rqa-filter"></span>
			</button>
		</div>
	</div>

</div>
<div class="row rqa-error fixed-margin-bottom-10">
	<abx-closable-message message="$ctrl.message"></abx-closable-message>
</div>
<div class="row rqa-body" ng-class="{'has-error': $ctrl.message.show}">
<div class="right-filter" ng-class="{'hide-filter': !$ctrl.open, 'link-disabled': !$ctrl.open}">
		<div class="filters-header">
			<span class="pull-right fa fa-caret-right" ng-click="$ctrl.closeFilters()"></span>
			<h3>Filters</h3>
		</div>
		<hr>
		<div class="filters-body">
			<div class="links-container">
				<div class="pull-left">
					<a href ng-class="{'link-disabled': $ctrl.notUsedFilters.length===0}" uib-popover-template="'filter'" popover-class="abx-popover" popover-trigger="outsideClick" popover-placement="left-top" popover-is-open="$ctrl.openedPopups['default']" ng-click="$ctrl.notUsedFilters.length===0 || $ctrl.selectPopover()" abx-auto-placement-popover>Add filter</a>
				</div>
				<div class="pull-right">
					<a href ng-click="$ctrl.removeAllFilters()">Remove All</a>
				</div>
			</div>
			<div class="filters-container">
				<div class="filter-box" uib-popover-template="'date-filter'" popover-class="abx-popover" popover-trigger="outsideClick" popover-placement="left-top" popover-is-open="$ctrl.openedPopups['date']" ng-click="$ctrl.isLoading || $ctrl.selectDate()" ng-class="{'active': $ctrl.openedPopups['date'], 'link-disabled': $ctrl.isLoading}" abx-auto-placement-popover>
					<p class="title">Date</p>
					<p class="value">{{$ctrl.selectedDate.key}}</p>
				</div>
				<div class="filter-box" popover-is-open="$ctrl.openedPopups[filter.key]" ng-class="{'active': $ctrl.openedPopups[filter.key]}" ng-click="$ctrl.selectPopover(filter)" ng-repeat="filter in $ctrl.usedFilters track by $index" uib-popover-template="'filter'" popover-class="abx-popover" popover-trigger="outsideClick" popover-placement="left-top" abx-auto-placement-popover>
					<div class="pull-right close-button" ng-click="$ctrl.removeFilter(filter); $event.stopPropagation();">X</div>
					<p class="title">{{$ctrl.getDisplayName(filter.key)}}</p>
					<p class="value">{{filter.value}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="left-item" ng-class="{'reduce-size': $ctrl.open}">
		<div class="flex-container" ng-show="$ctrl.isLoading">
			<div class="loading-container">
				<img src="/assets/rqa/images/Loading.gif">
				<p>Loading</p>
			</div>
		</div>
		<div class="flex-container" ng-show="$ctrl.filteredCalls.length===0 && !$ctrl.isLoading">
			<div class="no-records-container">
				<p>This report has no results. Adjust settings and filters if you need to.</p>
			</div>
		</div>
		<div class="table-container" ng-show="$ctrl.filteredCalls.length>0 && !$ctrl.isLoading">
			<table class="rqa-table">
				<thead>
					<tr>
						<th ng-repeat="header in $ctrl.headers">
							{{header}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="call in ($ctrl.filteredCalls= ($ctrl.calls | filter: $ctrl.getFilters()))">
						<td>
							{{call['TIMESTAMP']}}
						</td>
						<td>
							{{call['CUSTOMER NAME']}}
						</td>
						<td>
							{{call['DNIS']}}
						</td>
						<td>
							{{call['AGENT NAME']}}
						</td>
						<td>
							{{call['CAMPAIGN']}}
						</td>
						<td>
							{{call['DISPOSITION']}}
						</td>
						<td>
							{{call['RECORDINGS']}}
						</td>
						<td>
							30
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<!-- POPUP TEMPLATES -->
<script id="filter" type="text/ng-template">
    <form name="filterForm" ng-submit="filterForm.$valid && $ctrl.applyFilter($ctrl.selectedPopover) && filterForm.reset()" novalidate>
	    <div class="form-group filter-popup">
	    	<div class="filter-input">
		    	<label>Filter</label>
		    	<select ng-options="$ctrl.getDisplayName(item.key) for item in $ctrl.availablesFilters" ng-model="$ctrl.selectedOption" abx-auto-focus="true">
		    	</select>
	    	</div>
	    	<div class="filter-input no-margin-bottom">
		    	<label>Value</label>
		    	<input type="text" ng-model="$ctrl.selectedValue" name="value" maxlength="50" required>
		    	<div class="error-message">
			    	<div ng-messages="filterForm.value.$error" ng-show="filterForm.$submitted">                  
				        <p ng-message="required">This field is required</p>
				    </div>
			    </div>
		    </div> 
	    	<div class="button-container">
	    		<button class="btn btn-blue" type="submit">Apply</button>
	    	</div>
	    </div>
    </form>
 </script>
 <script id="date-filter" type="text/ng-template">
    <form name="dateFilterForm" ng-submit="dateFilterForm.$valid && $ctrl.applyDate()" novalidate>
	    <div class="form-group filter-popup">
	    	<div class="filter-input">
		    	<label>Filter</label>
		    	<select ng-options="item.key for item in $ctrl.dates" ng-model="$ctrl.tmpSelectedDate" id="date-select">
		    	</select>
	    	</div>
		    <div class="button-container">
		    		<button class="btn btn-blue" type="submit">Apply</button>
		    </div>
	    </div>
    </form>
 </script>
 <!-- ####################################################### -->