<div class="rqa-theme">
	<div class="row fixed-margin-bottom-30">
		<div class="pull-left title-container">
			<img src="assets/rqa/images/f9-sm.png">
			<span>Recording QA</span>
		</div>
		<div class="pull-right actions-container">
        	<button class="icon-button fixed-margin-left-10 ">
        		<span class="rqa-icon rqa-refresh"></span>
        	</button>
			<div class="display-inline-block fixed-margin-left-10">
				<button class="icon-button">
					<span class="rqa-icon rqa-reports"></span>
				</button>
				<button class="icon-button" ng-click="$ctrl.switchFilters()">
					<span class="rqa-icon rqa-filter"></span>
				</button>
			</div>
		</div>

	</div>
	<div class="row rqa-body">
	<div class="right-filter" ng-show="$ctrl.open">
			<div class="filters-header">
				<span class="pull-right fa fa-caret-right" ng-click="$ctrl.closeFilters()"></span>
				<h3>Filters</h3>
			</div>
			<hr>
			<div class="filters-body">
				<div class="links-container">
					<div class="pull-left">
						<a href uib-popover-template="'filter'" popover-class="abx-popover" popover-trigger="outsideClick" popover-placement="left-top" popover-is-open="$ctrl.isOpen" abx-hide-on-resize>Add filter</a>
					</div>
					<div class="pull-right">
						<a href>Remove All</a>
					</div>
				</div>
				<div class="filters-container">
					<div class="filter-box">
						<p class="title">Date</p>
						<p class="value">Last Hour</p>
					</div>
					<div class="filter-box">
						<div class="pull-right close-button">X</div>
						<p class="title">Date</p>
						<p class="value">Last Hour</p>
					</div>
				</div>
			</div>
		</div>
		<div class="left-item">
			<div ng-class="{'filter-open': $ctrl.open}">
			<table class="rqa-table">
				<thead>
					<tr>
						<th ng-repeat="header in $ctrl.headers">
							{{header}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="call in $ctrl.calls">
						<td>
							{{call['TIMESTAMP']}}
						</td>
						<td>
							{{call['CUSTOMER NAME']}}
						</td>
						<td>
							{{call['DNIS']}}
						</td>
						<td>
							{{call['AGENT NAME']}}
						</td>
						<td>
							{{call['CAMPAIGN']}}
						</td>
						<td>
							{{call['DISPOSITION']}}
						</td>
						<td>
							{{call['RECORDINGS']}}
						</td>
						<td>
							30
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		
	</div>
	
	
</div>




<!--<p>
<div style="width: 100%; text-align: center;">
<button uib-popover-template="'calendar'" popover-class="abx-popover" popover-is-open="true" popover-placement="right" type="button" class="btn btn-default">Mouseenter</button>
</p>
<input type="text" value="Click me!" uib-popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="focus" class="form-control">
</div>
-->
<!-- POPUP TEMPLATES -->
<script id="filter" type="text/ng-template">
    <div class="form-group filter-popup">
    	<label>Filter</label>
    	<select>
    		<option>Campaign</option>
    	</select>
    	<label>Value</label>
    	<input type="text" autofocus="">
    	<div class="button-container">
    		<button class="btn btn-blue">Apply</button>
    	</div>
    </div>
 </script>