pre{
	 white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.tab-content{
/*  background: #F1F1F1;*/
   padding: 14px 18px;
}
.nav-tabs li.active > a{
    background: #F1F1F1;
    border-bottom-color: #F1F1F1 !important;
}
.nav-tabs.nav-justified > .active > a,
 .nav-tabs.nav-justified > .active > a:hover, 
 .nav-tabs.nav-justified > .active > a:focus{
     background: #F1F1F1;
    border-bottom-color: #F1F1F1 !important;
}


