<div id="sign-in">
  <form  ng-submit="$ctrl.login()" novalidate autocomplete="off">
 
    <div id="logo">
      <img class="center-block img-responsive" src="assets/al/images/homepage/AB-App-SignInLogo.png">
    </div>
       <abx-message msg="$ctrl.message"></abx-message>
    <div class="inputminimal center-block ">
        <label>Username</label>
        <input type="text"  ng-model="$ctrl.username">
    </div>    
    <div class="inputminimal center-block ">
        <label>Password</label>
        <input type="password"" ng-model="$ctrl.password">
    </div>    
  
    <div class="row">
          <button id="sign-button" type="submit" class="btn btn-default center-block">Sign In</button>
    </div>
  </form>
</div>

