.dashboard{
  height: 100%;
  width: 100%;
  position: absolute;
  //background//-size: cover;
  background-image: url("/assets/dashboard/AB-App-DashboardBg.png");
  background-repeat:no-repeat;  
  background-size:cover;
  background-position:center;
  top: 50px;
  margin-top: -50px;
  left: 0px;
  .box-dashboard{
    width: 662px;
    height: auto;    
    background-color:rgba(0, 0, 0, 0.7);  
    top: 600px;
    margin-top: 600px;    
    margin-right: 50px;
    padding: 20px 30px 30px 30px;
    p{
      color: white; 
      font-family: BrandonLight;
      font-size: 32px;
      text-align: right;
    }
    .button-blue-dashboard {
            opacity: 1;
            filter: alpha(opacity=100);
            border: none;
            width: 180px;
            height: 40px;   
            margin-top: 20px;         
            padding: 10px 20px 10px 20px;
            background-color: #37A3DC;
            a{
              font-size: 18px;
              color: #FFFFFF;
              //margin-top: 12px;
              font-weight: normal;
            }
            &:hover, &:active {
            background: #53bef7;
            color: @white;
        }
    }
    
  }
  

dashboard footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
}
