<abx-message msg="$ctrl.message"></abx-message> 
<h4 ng-show="$ctrl.campaigns.length==0 && !$ctrl.message.show" class="text-center "><span class="label label-success ">Loading ...</span></h4>

<div ng-show="$ctrl.campaigns.length>0" > 
  
<div class="mywell">

    <div class="filter_select">
        <span class="glyphicon glyphicon-filter"></span>
        <select name="typeCampaignFilter" class="form-control" ng-model="$ctrl.typeCampaignFilter">
                <option value="">All</option>
                <option value="INBOUND">InBound</option>
                <option value="OUTBOUND">OutBound</option>
                <option value="AUTODIAL">Autodial</option>
        </select>
    </div>
   
    
    <div class="searchbox_container">          
       <input type="search" ng-model="search.name" class="searchbox" placeholder="Search Name">
       <span class="glyphicon glyphicon-search"></span>
    </div>



    <button ui-sref="campaigns.create " class="btn btn-black pull-right">New</button>

</div>  
  
  

<table class="table table-striped"> 

    <thead>
        
        <th ng-click="$ctrl.sortColumn('name') " class="sortColumn">Name
            <span class="glyphicon " ng-show="$ctrl.sortKey=='name' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>        
        <th ng-click="$ctrl.sortColumn('type') " class="sortColumn">Type
            <span class="glyphicon " ng-show="$ctrl.sortKey=='type' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th ng-click="$ctrl.sortColumn('mode') " class="sortColumn">Mode
            <span class="glyphicon " ng-show="$ctrl.sortKey=='mode' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>        

        <th ng-click="$ctrl.sortColumn('state') " class="sortColumn">State
            <span class="glyphicon " ng-show="$ctrl.sortKey=='state' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th ng-click="$ctrl.sortColumn('trainingMode') " class=" sortColumn text-center"  width="220">Training

            <span class="glyphicon " ng-show="$ctrl.sortKey=='trainingMode' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th class="text-center" width="128">
            ACTIONS
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.campaigns | filter:search| filter:{ type: $ctrl.typeCampaignFilter }  | limitTo:$ctrl.numPerPage:$ctrl.beginNext | orderBy:$ctrl.sortKey:$ctrl.reverse "
       ng-class="{'danger' : $ctrl.toggleCampaignRow==$index, 'warning': $ctrl.toggleStatusRow==$index}">            
            <td>
               <a href ng-click="$ctrl.getDetail(item)">
                {{item.name}}
               </a>
            </td>
            <td>{{item.type}}</td>
            <td>{{item.mode}}</td>
          
            <td>{{item.state}}</td>
            <td class="text-center">{{item.trainingMode}}</td>
            <td class="text-center">
              
                
                <!--button class="btn btn-danger" ng-click="$ctrl.deleteCampaign(item,$index)" ng-disabled="$ctrl.toggleCampaignRow==$index">
                    {{($ctrl.toggleCampaignRow == $index)?'Deleting ..':'Delete'}}
                </button>
                <button class="btn btn-info" ng-click="$ctrl.getDetail(item)">
                    Edit
                </button-->                

                <button class="btn btn-row-campaign" ng-class="{'btn-primary':item.state==='NOT_RUNNING','btn-danger':item.state==='RUNNING'}" 
                 ng-click="$ctrl.updateState(item,$index)" ng-init="item.statusBtnText=(item.state==='RUNNING')?'Stop':'Start'" ng-disabled="(item.statusBtnText==='Starting...' || item.statusBtnText=='Stopping...')">
                    {{ item.statusBtnText }}
                </button>               
                <a href class="circle_delete" ng-click="$ctrl.deleteCampaign(item,$index)"  
                ng-hide="$ctrl.toggleCampaignRow==$index"></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="mywell footer_table text-center">
    <label class="pull-left">Showing {{$ctrl.beginNext+1}}-{{$ctrl.currentPage*$ctrl.numPerPage}} of {{$ctrl.totalItems}}</label>    
    <uib-pagination total-items="$ctrl.totalItems " ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage
    " boundary-links="true "
    ng-change="$ctrl.pageChanged()" >
    </uib-pagination>
    <div class="pull-right">Show
        <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities ">
        </select> results per page
    </div>  
</div>

</div>