<div class="well well-sm">
    <a ui-sref="users.list">
        &lt&lt Back to List
    </a>
</div>
<div class="alert alert-warning" ng-show="$ctrl.showWarningRolMessage">
      You must select at least one rol
 </div>
 <div class="alert alert-warning" ng-show="$ctrl.showWarningUserMessage">
      You must complete all users fields
 </div>
<div class="alert alert-{{$ctrl.message.type}}" role="alert" ng-show="$ctrl.message.show">
    <p ng-bind-html="$ctrl.message.text"></p>
</div>

 <h4 ng-hide="$ctrl.found" class="text-center"><span class="label label-success">Loading ...</span></h4>
<form name="userForm" class="form-horizontal" novalidate autocomplete="off"   ng-submit="userForm.$valid && $ctrl.update()" ng-show="$ctrl.found"> 
<uib-tabset  justified="false" type="pills">
    <uib-tab index="0" heading="1. General">
        <div class="row">
            <div class="form-group col-xs-6"  ng-class="{ 'has-error': userForm.firstName.$invalid && userForm.$submitted }">
                <label for="firstName" class="control-label col-xs-4">First Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="firstName" id="firstName" required ng-model="$ctrl.userInfo.generalInfo.firstName">
                     <div ng-messages="userForm.firstName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                    </div>     
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="{ 'has-error': userForm.lastName.$invalid && userForm.$submitted }">
                <label for="lastName" class="control-label col-xs-4">Last Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control"  name="lastName" id="lastName"  required ng-model="$ctrl.userInfo.generalInfo.lastName">
                    <div ng-messages="userForm.lastName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                    </div> 
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="{ 'has-error': userForm.extension.$invalid && userForm.$submitted }">
                <label for="extension" class="control-label col-xs-4">Extension</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control"  name="extension" id="extension" required ng-model="$ctrl.userInfo.generalInfo.extension" ng-minlength="4" ng-maxlength="4">
                    <div ng-messages="userForm.extension.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="maxlength">This field is too long, just 4 digits</p> 
                        <p ng-message="minlength">This field is too short, 4 digits required</p>                         
                    </div>    
                </div>
            </div>
            <div class="form-group col-xs-6" ng-class="{ 'has-error': userForm.EMail.$invalid && userForm.$submitted }">
                <label for="EMail" class="control-label col-xs-4">Email</label>
                <div class="col-xs-8">
                    <input type="email" class="form-control"  name="EMail" id="EMail" required ng-model="$ctrl.userInfo.generalInfo.EMail" ng-minlength="5">
                     <div ng-messages="userForm.EMail.$error" ng-show="userForm.$submitted">    <p ng-message="required">This field is required</p>
                        <p ng-message="email">This needs to be a valid email</p>
                        <p ng-message="minlength">The email is too short</p>
                    </div> 
                </div>
            </div>
            <div class="form-group col-xs-6"  ng-class="{ 'has-error': userForm.userName.$invalid && userForm.$submitted }">
                <label for="userName" class="control-label col-xs-4">User Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="userName" id="userName" required ng-model="$ctrl.userInfo.generalInfo.userName" autocomplete="false" ng-minlength="6"> 
                     <div ng-messages="userForm.userName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">The field needs to be al least 6 characters</p>
                    </div>    
                </div>
            </div>
            <div class="form-group col-xs-6"  ng-class="{ 'has-error': userForm.password.$invalid && userForm.$submitted }">
                <label for="Password" class="control-label col-xs-4">Password</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" name="password" id="password" required ng-model="$ctrl.userInfo.generalInfo.password"  autocomplete="false"  ng-minlength="6">
                    <div ng-messages="userForm.password.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">The field needs to be al least 6 characters</p>
                    </div>            
                </div>
            </div>
            <div class="form-group col-xs-4">
                <div class="col-xs-offset-3 col-xs-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.userInfo.generalInfo.active"> Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-4">
                <div class="col-xs-offset-3 col-xs-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.userInfo.generalInfo.canChangePassword"> Can change password
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-4">
                <div class="col-xs-offset-3 col-xs-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.userInfo.generalInfo.mustChangePassword"> Must change password
                        </label>
                    </div>
                </div>
            </div>         
        </div>
    </uib-tab>

    <uib-tab index="1" heading="2. Roles" select="$ctrl.checkStepOne(userForm)">
        <div class="row">
            <div class="col col-xs-2" ng-show="$ctrl.allRoles.length>0">       
                    <h4>Roles Available</h4>
                    <div class="list-group">
                        <a href="#"  class="list-group-item" ng-repeat="rol in $ctrl.allRoles" ng-click="$ctrl.addRol(rol)">
                             {{rol}} <span class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>                                               
                    </div>                    
            </div>
            <div class="col col-xs-2">
                <div class="well well-sm">
                    <h4>Roles Assigned</h4>                    
                    <div class="list-group">
                        <a href="#"  class="list-group-item" ng-repeat="userRol in $ctrl.userRoles" ng-click="$ctrl.getPermissions(userRol)" ng-class="{'active':($index==$ctrl.userRolSelectedIndex)}">
                             {{userRol}}
                        </a>                                               
                    </div>
                    <button type="button" class="btn btn-danger" ng-show="$ctrl.userRolSelectedIndex>=0 && $ctrl.userRoles.length>0" ng-click="$ctrl.deleteSelectedRol()">Delete</button>
                </div>    
            </div>
            <div class="col" ng-class="{'col-xs-10':($ctrl.allRoles.length==0),'col-xs-8':($ctrl.allRoles.length>0)}" >
                <div class="well  well-sm twocolumnpermission">
                    <h4>Permissions:</h4>
                    <div class="checkbox" ng-repeat="(per,val) in $ctrl.rolSelectedPermissions" ng-if="per!=='permissions'">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.rolSelectedPermissions[per]">{{per | camelToHuman}}
                        </label>
                    </div>
                    <div class="checkbox" ng-repeat="permission in $ctrl.rolSelectedPermissions.permissions">            
                       
                        <label>
                            <input type="checkbox" ng-model="permission.value">{{permission.type | camelToHuman}}
                        </label>
                    </div>
                </div>                   
            </div>

        </div>
    </uib-tab> 
</uib-tabset>
<div class="row text-right">
    <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-lg" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
          <button type="button" class="btn btn-warning btn-lg" ui-sref="users.list">Cancel</button>
    </div>  
</div>
</form>
