.autobox-theme{
  div.sc-theme {
    padding: 30px;
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    p, select, input, a, div {
      font-family: ProximaNovaRegular;
    }

    .sc-search{
      background: url('@{image_buttons_sc_path}/search.png') no-repeat;
      background-color: white;
      background-position: 12px;
      font-size: 11px;
    }
    //start header
    .sc-header {
      .header-domain-status {
        float: right;
        span {
          margin-left: 30px;
          color: #68E8B1;
          font-weight: normal;
        }
      }

      .title-container {
        float: left;
        display: inline-block;
        vertical-align: middle;
        & > span {
          margin-left: 20px;
          font-family: ProximaNovaLight;
          font-size: 24px;
          color: #666;
          vertical-align: middle;
        }
      }
      .actions-container {
        padding-top: 30px;
        float: right;
        .searchbox_container{
          float: left;
        }
        .add-container {
          float: left;
          height: 30px;
          margin: 0 0 0 10px;
          .dropbtn-sc {
            background-color: white;
            color: #36A3DE;
            cursor: pointer;
            height: 30px;
            width: 60px;
            border: 1px solid #F5F5F5;
            font-size: 11px;
              font-weight: bold;
          }

          .dropdown-sc {
            position: relative;
            display: inline-block;
            &:hover{
              .dropdown-content-sc{
                display: block;
              }

              .dropbtn-sc {
                background-color: #36A3DE;
                color: white;
              }
            }
          }

          .dropdown-content-sc {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            position: absolute;
            z-index: 9;
            left: -100px;

            a{
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover{
                background-color: #f1f1f1;
                cursor: hand;
              }
            }
          }
        }
      }

      .details-container {
        margin-bottom: 20px;
        .content {
          float: left;
          width: 25%;
          .title {
            font-size: 13px;
            float: left;
          }
          .description {
            font-family: ProximaNovaLight;
            font-size: 13px;
          }
        }

        label{
          display: inline-block;
          margin-bottom: 0px;
          font-weight: normal;
          color: #999;
        }
        strong {
          color:#666;
        }

      }
    }
    //end header

    //star sc body
    .sc-body {
      display: block;
      height: ~"calc(100% - 150px)";
      min-width: 100%;

      .left-item {
        width: auto;
        height: 100%;
        background: white;
        .flex-container-sc{
          height: 100%;
          display: flex;
          .loading-container-sc, .no-records-container{
            margin: auto;
            text-align: center;
            img{
              margin-bottom: 5px;
            }
            p{
              font-size: 14px;
              color: #999;
              margin-bottom: 0;
            }
          }

        }
        .sc-table {
          table-layout: initial;
          th, td {
            white-space: nowrap;
          }
        }

      }
    }
    //end sc body

    .sc-box {
      height: 100%;
      border: 1px solid #f7f7f7;
      background-color: #fff;
    }

    //start box header
    .sc-box-header {
      margin: 20px 20px 0px 10px;
      cursor: move;
      position: relative;
      height: 50px;

      .title{
        float: left;
        padding-left: 20px;
        font-size: 18px;
        font-family:ProximaNovaLight;
        height: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }

      .container-buttons-table{
        float: right;
        display: inline-block;
        margin-left: 10px;
      }

      .icon-button-sc{
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: 0;
        &.active, &:hover{
          background: #37a3dc;
          .sc-refresh{
            background: url('@{image_buttons_sc_path}/refresh-active.png') no-repeat center center;
          }
          .sc-reports{
            background: url('@{image_buttons_sc_path}/reports-active.png') no-repeat center center;
          }
          .sc-bar{
            background: url('@{image_buttons_sc_path}/bar-active.png') no-repeat center center;
          }
          .sc-cog{
            background: url('@{image_buttons_sc_path}/configuration-active.png') no-repeat center center;
          }
        }
        .sc-refresh{
          background: url('@{image_buttons_sc_path}/refresh.png') no-repeat center center;
        }
        .sc-reports{
          background: url('@{image_buttons_sc_path}/reports.png') no-repeat center center;
        }
        .sc-bar{
          background: url('@{image_buttons_sc_path}/bar.png') no-repeat center center;
        }
        .sc-cog{
          background: url('@{image_buttons_sc_path}/configuration.png') no-repeat center center;
        }
      }

      //buttons red
      .icon-button-sc-danger {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: 0;
        &.active, &:hover{
          background: red;
          .sc-trash{
            background: url('@{image_buttons_sc_path}/trash-active.png') no-repeat center center;
          }
        }

        .sc-trash{
          background: url('@{image_buttons_sc_path}/trash.png') no-repeat center center;
        }
      }

      .sc-icon{
        height: 100%;
        width: 100%;
        display: inline-block;
      }
    }
    //end box header

    //icon-refresh-Header
    .sc-icons-header {
      float: left;
      cursor: move;
      position: relative;
      height: 30px;
      .icon-button-sc{
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: 0;
        padding: 0px 6px;
        &.active, &:hover{
          background: #37a3dc;
          .sc-refresh{
            background: url('@{image_buttons_sc_path}/refresh-active.png') no-repeat center center;
          }
        }
        .sc-refresh{
          background: url('@{image_buttons_sc_path}/refresh.png') no-repeat center center;
        }
      }

      .sc-icon{
        height: 100%;
        width: 100%;
        display: inline-block;
      }
    }

    //start box content
    .box-content {
      padding: 10px;
      //height: 100%;
      height: ~"calc(100% - 70px)";


      .content-table{
        overflow: auto;
        height: 100%;
      }

      //start  table
      .sc-table {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        table-layout: fixed;
        th, td {
          padding: 7px 20px;
          border-bottom: 1px solid #f7f7f7;
          height: 40px;
          word-wrap: break-word;
        }
        tr:last-child{
          th, td{
            padding-right: 20px;
          }
        }
        thead{
          border-bottom: 2px solid #f7f7f7;
          th{
            font-family: ProximaNovaLight;
            font-size: 12px;
            color: #999999;
            height: 35px;
            background: white;
          }
        }
        tbody{
          td{
            font-family: ProximaNovaRegular;
            size: 14px;
            color: #666666;
            height: 35px;
            background: white;
          }
        }

        //AgentState-Colors
        .ready-state {
          color: #2FE29B;
        }

        .onCall-state {
          color: #F39C12;
        }

        .noReady-state{
          color: #E74C3C;
        }

        .loggedOut-state {
          color: #CCCCCC;
        }

        .afterCallWork-state {
          color: #f7e42a;
        }
        .onPreview-state {
          color: #6F47D3;
        }
        .onVoicemail-state {
          color: #6F47D3;
        }
        .unknown-state {
          color: #F56462;
        }
        .ringing-state {
          color: #63DCFF;
        }
        .duration-default-state{
          color:red;
        }

        .duration-state{
          color:#FA9C11;
        }

        //Skills-Colors
        .ready-status {
          color: #5CC99F;
        }

        .ready-zero-status {
          color: #CD5650;
        }

        .queue-status {
          color: #CD5650;
        }

        .queue-zero-status {
          color: #5CC99F;
        }
      }//end table
    }//end box content

    .disabled-refresh-add {
      pointer-events: none;
      opacity: 0.5;
      background: #CCC;
    }

  }
}


