<div id="modal-container"></div>
<div id="alert-container"></div>
<h3 class="title_section">User: <span>New user</span></h3>
<div class="alert alert-warning" ng-show="$ctrl.showWarningRolMessage">
  You must select at least one Role
</div>
<div class="alert alert-warning" ng-show="$ctrl.showWarningUserMessage">
  You must complete all users fields
</div>
<abx-message msg="$ctrl.message"></abx-message>
<form name="userForm" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="userForm.$valid && $ctrl.save()">
<uib-tabset  justified="false">
  <uib-tab index="0" heading="Details">
    <div class="inputminimal" ng-class="{ 'has-error': userForm.firstName.$invalid && userForm.$submitted }">
      <label for="firstName" >First Name*</label>
      <div>
        <input autofocus type="text" name="firstName" id="firstName" required ng-model="$ctrl.newUser.firstName">
      </div>
    </div>
    <div ng-messages="userForm.firstName.$error" ng-show="userForm.$submitted">
      <p ng-message="required">This field is required</p>
    </div>
    <div  class="inputminimal"  ng-class="{ 'has-error': userForm.lastName.$invalid && userForm.$submitted }">
      <label for="lastName" >Last Name*</label>
      <div>
        <input type="text"  name="lastName" id="lastName"  ng-model="$ctrl.newUser.lastName" required>
      </div>
    </div>
    <div ng-messages="userForm.lastName.$error" ng-show="userForm.$submitted">
      <p ng-message="required">This field is required</p>
    </div>
    <div class="inputminimal"  ng-class="{ 'has-error': userForm.extension.$invalid && userForm.$submitted }">
      <label for="extension" >Extension</label>
      <div>
        <input type="text"  name="extension" id="extension" disabled ng-model="$ctrl.newUser.extension"  ng-minlength="4" ng-maxlength="4">
      </div>
    </div>
    <div class="inputminimal"  ng-class="{ 'has-error': userForm.EMail.$invalid && userForm.$submitted }">
      <label for="EMail" >Email*</label>
      <div>
        <input type="email"
               name="EMail"
               maxlength="50"
               id="EMail"
               maxlength="50"
               required
               ng-model="$ctrl.newUser.EMail"
               ng-change="$ctrl.fillUsrPass()"
               ng-minlength="5">
      </div>
    </div>
    <div ng-messages="userForm.EMail.$error" ng-show="userForm.$submitted">
      <p ng-message="required">This field is required</p>
      <p ng-message="email">This needs to be a valid email</p>
      <p ng-message="minlength">The email is too short</p>
    </div>
    <div class="inputminimal" ng-class="{ 'has-error': userForm.userName.$invalid && userForm.$submitted }">
      <label for="userName" >Username*</label>
      <div>
        <input type="text"
               name="userName"
               id="userName"
               required
               disabled
               ng-model="$ctrl.newUser.userName"
               ng-change="$ctrl.fillPass()"
               ng-minlength="6" >
      </div>
    </div>
    <div ng-messages="userForm.userName.$error" ng-show="userForm.$submitted">
      <p ng-message="required">This field is required</p>
      <p ng-message="minlength">The field needs to be al least 6 characters</p>
    </div>
    <div class="row no-margin">
      <div class="col-xs-9 col-md-10 col-lg-11">
        <div class="inputminimal"  ng-class="{ 'has-error': userForm.password.$invalid && userForm.$submitted }">
          <label for="Password">Password* </label>
          <input type="password"
                 class="form-control"
                 name="password"
                 id="password"
                 required=""
                 ng-model="$ctrl.newUser.password"
                 autocomplete="false"
                 disabled>
      </div>
     </div>
     <div class="col-xs-3 col-md-2 col-lg-1">
       <input type="button" class="btn-black" value="Change" ng-click="$ctrl.openModal()">
     </div>
   </div>
   <div ng-messages="userForm.password.$error" ng-show="userForm.$submitted">
     <p ng-message="required">This field is required</p>
   </div>
   <div class="row">
     <div class="col-sm-3">
       <div class="checkbox">
         <label><input type="checkbox" ng-model="$ctrl.newUser.active">User is active</label>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-sm-5">
       <div class="checkbox">
         <label><input type="checkbox" ng-model="$ctrl.newUser.canChangePassword"> User can change password</label>
       </div>
     </div>
     <div class="col-sm-7">
       <div class="checkbox">
         <label><input type="checkbox" ng-model="$ctrl.newUser.mustChangePassword"> User must change password on next login</label>
       </div>
     </div>
   </div>
 </uib-tab>
 <uib-tab index="1" heading="Roles" select="$ctrl.checkStepOne(userForm)">
   <div class="row">
     <div class="col col-md-3" ng-show="$ctrl.allRoles.length>0">
       <h4>Roles Available</h4>
       <div class="list-group">
         <a href="#"  class="list-group-item" ng-repeat="rol in $ctrl.allRoles" ng-click="$ctrl.addRol(rol)">
           {{rol}} <span class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span>
         </a>
       </div>
     </div>
     <div class="col col-md-3">
         <h4>Roles Assigned</h4>
         <div class="list-group">
           <a href="#"  class="list-group-item" ng-repeat="userRol in $ctrl.userRoles" ng-click="$ctrl.getPermissions(userRol)" ng-class="{'active':($index==$ctrl.userRolSelectedIndex)}">
             {{userRol}}
           </a>
         </div>
         <button type="button" class="btn btn-danger" ng-show="$ctrl.userRolSelectedIndex>=0 && $ctrl.userRoles.length>0" ng-click="$ctrl.deleteSelectedRol()">Delete</button>
     </div>
     <div class="col" ng-class="{'col-md-9':($ctrl.allRoles.length==0),'col-md-6':($ctrl.allRoles.length>0)}" >
         <h4 ng-show="$ctrl.permissionTitle">Permissions:</h4>
         <div class="checkbox" ng-repeat="(per,val) in $ctrl.rolSelectedPermissions" ng-if="per!=='permissions'">
           <label><input type="checkbox" ng-model="$ctrl.rolSelectedPermissions[per]">{{per | camelToHuman}}</label>
         </div>
         <div class="checkbox" ng-repeat="permission in $ctrl.rolSelectedPermissions.permissions">
           <label><input type="checkbox" ng-model="permission.value">{{permission.type | camelToHuman}}</label>
         </div>
     </div>
   </div>
 </uib-tab>
</uib-tabset>

<div class="form-group text-center">
  <button type="submit" class="btn btn-black" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
  <button type="button" class="btn btn-black" ui-sref="ap.al.users">Cancel</button>
</div>
</form>
