<div class="extrappading">
      <h3 class="title_section">Users:<span> New user</span></h3>

<div class="alert alert-warning" ng-show="$ctrl.showWarningRolMessage">
      You must select at least one rol
 </div>
 <div class="alert alert-warning" ng-show="$ctrl.showWarningUserMessage">
      You must complete all users fields
 </div>
 
<abx-message msg="$ctrl.message"></abx-message> 
 

<form name="userForm" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="userForm.$valid && $ctrl.save()">
<uib-tabset  justified="false">
    <uib-tab index="0" heading="1. General">
       
             <div class="form-group input" ng-class="{ 'has-error': userForm.firstName.$invalid && userForm.$submitted }">
                <label for="firstName" class="col-sm-2 control-label">FIRST NAME</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstName" id="firstName" required ng-model="$ctrl.newUser.firstName">
                    <div ng-messages="userForm.firstName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                    </div>     
                </div>
            </div>
            <div  class="form-group input"  ng-class="{ 'has-error': userForm.lastName.$invalid && userForm.$submitted }">
                <label for="lastName" class="col-sm-2 control-label">LAST NAME</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  name="lastName" id="lastName"  ng-model="$ctrl.newUser.lastName" required>
                      <div ng-messages="userForm.lastName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                    </div>     
                </div>
            </div>
            <div class="form-group input"  ng-class="{ 'has-error': userForm.extension.$invalid && userForm.$submitted }">
                <label for="extension" class="col-sm-2 control-label">EXTENSION</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control"  name="extension" id="extension" required ng-model="$ctrl.newUser.extension"  ng-minlength="4" ng-maxlength="4">
                    <div ng-messages="userForm.extension.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="maxlength">This field is too long, just 4 digits</p> 
                        <p ng-message="minlength">This field is too short, 4 digits required</p>                         
                    </div>             
               
                </div>
            </div>
            <div class="form-group input"  ng-class="{ 'has-error': userForm.EMail.$invalid && userForm.$submitted }">
                <label for="EMail" class="col-sm-2 control-label">EMAIL</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"  name="EMail" id="EMail" required ng-model="$ctrl.newUser.EMail"  ng-minlength="5">
                     <div ng-messages="userForm.EMail.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="email">This needs to be a valid email</p>
                        <p ng-message="minlength">The email is too short</p>
                    </div>       
                </div>
            </div>
            <div class="form-group input" ng-class="{ 'has-error': userForm.userName.$invalid && userForm.$submitted }">
                <label for="userName" class="col-sm-2 control-label">USERNAME</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="userName" id="userName" required ng-model="$ctrl.newUser.userName" autocomplete="false"  ng-minlength="6" > 
                    <div ng-messages="userForm.userName.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">The field needs to be al least 6 characters</p>
                    </div>      
                </div>
            </div>
            <div class="form-group input" ng-class="{ 'has-error': userForm.password.$invalid && userForm.$submitted }">
                <label for="Password" class="col-sm-2 control-label">PASSWORD</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" required ng-model="$ctrl.newUser.password"  autocomplete="off" ng-minlength="6">
                    <div ng-messages="userForm.password.$error" ng-show="userForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">The field needs to be al least 6 characters</p>
                    </div>     
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                   <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.newUser.active">USER IS ACTIVE
                        </label>
                    </div>
              </div>
              <div class="col-sm-4">
                   <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.newUser.canChangePassword"> USER CAN CHANGE PASSWORD
                        </label>
                    </div>
              </div>
              <div class="col-sm-6">                  
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.newUser.mustChangePassword"> USER MUST CHANGE PASSWORD ON NEXT LOGIN
                        </label>
                    </div>
              </div>          
            </div>
          
      
    </uib-tab>

    <uib-tab index="1" heading="2. Roles" select="$ctrl.checkStepOne(userForm)">
        <div class="row">
            <div class="col col-xs-2" ng-show="$ctrl.allRoles.length>0">       
                    <h4>Roles Available</h4>
                    <div class="list-group">
                        <a href="#"  class="list-group-item" ng-repeat="rol in $ctrl.allRoles" ng-click="$ctrl.addRol(rol)">
                             {{rol}} <span class="pull-right glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>                                               
                    </div>                    
            </div>
            <div class="col col-xs-2">
                <div class="well well-sm">
                    <h4>Roles Assigned</h4>                    
                    <div class="list-group">
                        <a href="#"  class="list-group-item" ng-repeat="userRol in $ctrl.userRoles" ng-click="$ctrl.getPermissions(userRol)" ng-class="{'active':($index==$ctrl.userRolSelectedIndex)}">
                             {{userRol}}
                        </a>                                               
                    </div>
                    <button type="button" class="btn btn-danger" ng-show="$ctrl.userRolSelectedIndex>=0 && $ctrl.userRoles.length>0" ng-click="$ctrl.deleteSelectedRol()">Delete</button>
                </div>    
            </div>
            <div class="col" ng-class="{'col-xs-10':($ctrl.allRoles.length==0),'col-xs-8':($ctrl.allRoles.length>0)}" >
                <div class="well  well-sm twocolumnpermission">
                    <h4>Permissions:</h4>
                    <div class="checkbox" ng-repeat="(per,val) in $ctrl.rolSelectedPermissions" ng-if="per!=='permissions'">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.rolSelectedPermissions[per]">{{per | camelToHuman}}
                        </label>
                    </div>
                    <div class="checkbox" ng-repeat="permission in $ctrl.rolSelectedPermissions.permissions">            
                       
                        <label>
                            <input type="checkbox" ng-model="permission.value">{{permission.type | camelToHuman}}
                        </label>
                    </div>
                </div>                   
            </div>

        </div>
    </uib-tab> 
</uib-tabset>
<div class="form-group text-center">
  <button type="submit" class="btn btn-black" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
  <button type="button" class="btn btn-black" ui-sref="users.list">Cancel</button>
  
</div>
</form>
</div>