al.users.create{
    >ul{
        background: #F3F3F3;
        padding: 10px;
    }
}
form[name='userForm'] .form-group{
	margin-bottom: 8px;
}
.form-horizontal .twocolumnpermission  .checkbox{
    display: inline-block;
    width: 50%;
}


