<div class="modal-header">
    <button type="button" class="close circle_close" ng-click="$ctrl.cancel()"></button>
    <h3 class="title_section" ng-if="$ctrl.method == 'create'">Add new skill</h3>
    <h3 class="title_section" ng-if="$ctrl.method == 'update'">Update a skill</h3>
</div>
<div class="modal-body skillU-modal">
  <form class="custom_form form-horizontal" name="formSkill" novalidate ng-submit="formSkill.$valid && $ctrl.save()" id="formSkill">

    <div ng-if="$ctrl.skills" class="inputminimal" ng-class="{ 'has-error': formSkill.skill.$invalid && formSkill.$submitted }">
            <label for="skill">Skills</label>     
            <div>
                 <select ng-model="$ctrl.skill" name="skill" ng-options="v.name as v.name for (k, v) in $ctrl.skills" required class="form-control">
                 </select>
            </div>
    </div>

    <div class="inputminimal" ng-if="!$ctrl.skills">
            <label>{{$ctrl.skill}}</label>     
    </div>

    <div class="inputminimal level-input" ng-class="{ 'has-error': formSkill.level.$invalid && formSkill.$submitted }">
      <label for="level">Level</label>     
      <div class="timer-container">
        <div class="timer-items">
          <abx-number-updown ng-model="$ctrl.level" min-value="1" max-value="11"></abx-number-updown>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.skills" ng-messages="formSkill.skill.$error.required" ng-show="formSkill.$submitted">
        <p ng-message="required">This field is required</p>
    </div>

    <div ng-messages="formSkill.level.$error.required" ng-show="formSkill.$submitted">
        <p ng-message="required">This field is required</p>
    </div>
    <div ng-messages="formSkill.level.$error.pattern" ng-show="formSkill.$submitted">
        <p>Not a valid level</p>
    </div>
    <div class="skillmodal-buttons">
      <div class="text-center">     
        <button type="submit" class="btn btn-blue">Save</button>
        <button type="button" class="btn btn-blue" ng-click="$ctrl.cancel()">Cancel</button>
      </div> 
    </div>
  </form>    
</div>
