// here will go al media queries

// media queries adjustments

.container-fluid > .navbar-header {
    @media (max-width: 768px) {
        // fix movement logo autobox
        margin-left: 0;
    }
}

// BUG: 1477 My apps submenu. size IPAD
@media (max-width: 768px) {
    .my-apps .col-sm-12
    {
        padding-left: 3px;
        padding-right: 3px;
    }
    .navbar-nav .centerSubmenu
    {
      overflow-y: scroll;
      height: 450px !important;
    }
}
@media (min-width: 768px) {
    .my-apps .col-sm-12
    {
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media (max-height: 700px) {
    .navbar-nav .centerSubmenu
    {
      overflow-y: scroll;
      height: 350px !important;
    }
}
@media (min-width: 1200px) {
    .centerSubmenu
    {
        left: 23%;
        right: 23%;
    }
}
