//  
// COLORS THEME 
//

@blue: #36A3DC;
@blueforte: #0187D0;
@color-title-toolbar:#37A3DC;
  
@lightgray: #f7f7f7;
@gray: #e6e6e6;
@grayforte:#666;

@black: #000;
@white:#fff;

@red:#D9534F;


// tables
@table_even_row: #f7f7f7; 
@table_odd_row: #fff; 




/*
* PATHS
*/
@images_al_path: '/assets/al/images';
@fonts_path: '/assets/al/fonts';