
<h3 class="title_section">Skill: <span>{{$ctrl.selectedSkill.name}} </span></h3> 


<abx-load-indicator ng-hide="$ctrl.found"> </abx-load-indicator> 



<uib-tabset active="active1" justified="false" ng-hide="!$ctrl.found">
    <uib-tab index="0" heading="Details" select="$ctrl.showSkill()">
        <div ng-show="$ctrl.found">

            <form class="custom_form form-horizontal" ng-submit="$ctrl.save()">
                <div class="inputminimal"> 
                        <label for="inputName">Name *</label>    
                        <div> 
                    <input autofocus  type="text" id="inputName" ng-model="$ctrl.selectedSkill.name"/>
                        </div>
               </div> 
               <div class="inputminimal">  
                     <label for="inputDesc">Description</label>
                    <div>              
                    <input type="text" id="inputDesc" ng-model="$ctrl.selectedSkill.description"/>   
                     </div>                
                </div>
                <div class="inputminimal"> 
                      <label for="inputMessage">Message of the Day</label>    
                    <div>              
                    <input type="text" id="inputMessage" ng-model="$ctrl.selectedSkill.messageOfTheDay"/>        </div>             
                </div>
                    <div class="form-group ">

                    <div class="checkbox" >
                            <label>
                                <input type="checkbox" id="inlineCheckbox1" ng-model="$ctrl.selectedSkill.routeVoiceMails">Route voice mails
                            </label>                   
                    </div> 

                </div>

               
                
                <div class="form-group text-center">                 
                        <button type="submit" class="btn btn-black" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
                        <button type="submit" class="btn btn-black" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </form>        
              </div>          
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Users" select="$ctrl.listUsers()">

        <p>
            <label>Assign Users for this Skill:</label> {{::$ctrl.selectedSkill.name}}
        </p>
        
        
          <abx-message msg="$ctrl.message"></abx-message>     
        <div class="row">
            <div class="col-sm-12 col-md-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>Users Assigned</strong>
                    </div>

                    <div class="btn-group-vertical userNamesList" role="group">
                        <div class="btn-group"  uib-dropdown ng-repeat="user in $ctrl.UsersNamesSkills">
                            <button id="button{{user.id}}" type="button" class="btn btn-default" uib-dropdown-toggle ng-class="{'btn-info' : $ctrl.toggleUsernameLink == $index}" 
                            ng-disabled="$ctrl.toggleUserNameItem==$index">
                                {{($ctrl.toggleUserNameItem!=$index)?user.userName:user.userName+'(DELETING)'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button{{user.id}}">
                                <li role="menuitem">
                                    <a href="#" ng-click="$ctrl.showUserInfo(user.userName,$index)">Get Detail UserName</a></li>
                                <li class="divider"></li>
                                <li role="menuitem">
                                    <a href="#" ng-click="$ctrl.deleteUserfromSkill(user,$index)">Remove UserName</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listaUsers ol-sm-12 col-md-8">
                <h4 ng-show="$ctrl.filteredUsers.length===0">
                    <label class="label label-info">Loading Users...</label>
                </h4>
               
                <div class="panel panel-info" ng-show="$ctrl.filteredUsers.length>0">
                    <div class="panel-heading">
                        <strong>Users UnAssigned</strong>
                    </div>
                    <div class="form-group well well-sm">
                      <label>Search UserName</label>
                      <input type="search " ng-model="search.userName " class="form-control " placeholder="Search ">
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <th>UserName</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Assign</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="useritem  in $ctrl.filteredUsers  | filter:search | limitTo:$ctrl.numPerPage:$ctrl.beginNext" ng-class="{'success' : $ctrl.toggleUserItem.item == $index}">
                                <td>{{useritem.userName}}</td>
                                <td>{{useritem.firstName}}</td>
                                <td>{{useritem.lastName}}</td>
                                <td>{{useritem.fullName}}</td>
                                <td>{{useritem.EMail}}</td>
                                <td>
                                    <button class="btn btn-success" ng-click="$ctrl.addUsertoSkill(useritem,$index)" ng-disabled="$ctrl.toggleUserItem.item==$index">
                                        {{($ctrl.toggleUserItem.item==$index)?'Assigning..':'Add'}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mywell skills_center footer_table">
                    <uib-pagination ng-show="$ctrl.filteredUsers.length>0" total-items="$ctrl.filteredUsers.length" ng-model="$ctrl.currentPage"
                    items-per-page="$ctrl.numPerPage" boundary-links="true" ng-change="$ctrl.pageChanged()" ng-class="pagination_edit_skills">
                    </uib-pagination>
                </div>

            </div>
        </div>
        <div class="panel panel-info" ng-show="$ctrl.showPanelInfo">
            <div class="panel-heading">
                <strong>User Selected Info</strong>
            </div>
            <div class="panel-body" ng-show="!$ctrl.DetailUser.firstName">
                    <h4><label class="label label-info">
                    Loading User Information
                    </label>
                    </h4>
            </div>
            <table ng-show="$ctrl.DetailUser.firstName" class="table">
                    <thead>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>FullName</th>
                        <th>Email</th>                                
                    </thead>
                    <tbody>
                        <td>{{$ctrl.DetailUser.firstName}}</td>
                        <td>{{$ctrl.DetailUser.lastName}}</td>
                        <td>{{$ctrl.DetailUser.fullName}}</td>
                        <td>{{$ctrl.DetailUser.EMail}}</td>
                    </tbody>                            
                </table>
        </div>
    </uib-tab>
</uib-tabset>