.app-page{
    color: #666666;
    margin-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    .coming-soon-container{
      margin-top: 50px;
      text-align: center;
      width: 100%;
      display: inline-block;
      .coming-soon{
        &>h3{
          color: #000;
          display: inline-block;
          font-size: 35px;
          font-family: BrandonBold;
          padding-bottom: 6px;
          border-bottom: 5px solid #36A3DC;
          margin: 0 33px 0px;
        }
        &>p{
          margin-top: 10px;
          font-size: 21px;
          color: #666;
          font-family: BrandonRegular;
        }
      }
    }
    .app-page-img-container{
        margin-left:33px;
        width: 180px;
        float: left;
        img{
              margin: 0 -5px 20px;
              transform: translateZ(0);
              width:140px;
              height: 140px;
        }
        p{
            margin-top: 16px;
            font-size: 11px;
        }
        .btn-black{
          padding: 0;
          height: 30px;
          line-height: 17px;
          width: 130px;
        }
    }
    .screen-container{
      float: none;
    }
    @media (max-width: 768px){
      .col-sm-9{
        width:100%;
        float: none;
        .screen-container{
          float: left;
        }
        .col-sm-4{
          width: 100%;
        }
      }
    }
    @media (min-width: 769px){
      .col-sm-9{
        width:68%;
      }
    }
    @media (min-width: 992px){
      .col-sm-9{
        width:70%;
        padding-left:0;
        margin-left:20px;
      }
    }
    @media (min-width: 1217px){
      .col-sm-9{
        width:76%;
      }
    }
    @media (min-width: 1400px){
      .col-sm-9{
        width:80%;
      }
    }
    .app-screens-container{
        .app-screen-img{
            margin-right: 30px;
            float: left;
        }
        img{
            background:#e8e8e8;
            width: 100%;
            max-width: 264px;
        }
    }
    .app-page-detail{
        p{
            margin-bottom: 16px;
        }
    }

    .app-page-subtitle{
        font-family: BrandonBold;
        font-size: 16px;
        margin: 40px 0;
        color:@black;
    }
}
