.app-page{
    color: #989898;
    margin-bottom: 40px;
    .app-page-img-container{
        text-align: center;
        img{
             max-width: 120px;
             margin: 0 auto 20px;
        }
        p{
            margin-top: 16px;
            font-size: 12px;
        }
    }
}

.app-page-detail{
    p{      
        margin-bottom: 16px;
    }
}

.app-page-subtitle{
    font-family: BrandonBold;
    font-size: 16px;
    margin: 40px 0;
    color:@black;
}

.app-screens-container{
    .app-screen-img{
        margin-bottom: 30px;
    }
    img{
        background:#e8e8e8;
        width: 100%;
    }
}