<div class="center-loading"  ng-show="!$ctrl.application.appFullName">
    <abx-load-indicator text="Loading App"></abx-load-indicator>
</div>
<div class="theme-full-height">


<div class="row app-page" ng-show="$ctrl.application.appFullName">
    <h3 class="title_section col-md-12 col-sm-12">Five9 <span>{{$ctrl.application.appFullName}}</span>
    <a class="pull-right title-back" ui-sref="ap.apps">Back to apps</a></h3>

    <div class="row">
        <div class="app-fixed-logo-container">
            <div class="app-page-img-container">
                <img class="img-responsive" ng-src="assets/{{$ctrl.application.appName}}/images/logo-sm.jpg" abx-default-image-switch="/assets/default/images/logo-sm.jpg" alt="logo {{$ctrl.application.appFullName}}" />
                <div ng-show="$ctrl.application.appStatus!==$ctrl.appStatus.COMING_SOON">
                    <button class="btn btn-black" ng-show="$ctrl.application.isInstalled" ng-click="$ctrl.selectInstalledApp()">Open</button>
                    <button class="btn btn-black" ng-show="!$ctrl.application.isInstalled" ng-click="$ctrl.selectNoInstalledApp()">Get</button>
                    <p ng-repeat="requirement in $ctrl.application.appRequirements">{{requirement}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-9 app-page-detail">
            {{$ctrl.application.description}}
            <div class="screen-container" ng-if="$ctrl.application.appName === 'al' || $ctrl.application.appName === 'rqa'">
                <h4 class="app-page-subtitle">Screenshots</h4>
                <div class="app-screens-container row">
                    <div class="app-screen-img">
                        <img class="img-responsive app-image-margin" ng-src="assets/al/images/screenshots/app-screen1.jpg" alt="screen1">
                    </div>
                     <div class="app-screen-img">
                        <img class="img-responsive app-image-margin" ng-src="assets/al/images/screenshots/app-screen2.jpg" alt="screen2">
                    </div>
                     <div class="app-screen-img">
                        <img  class="img-responsive app-image-margin" ng-src="assets/al/images/screenshots/app-screen3.jpg" alt="screen3">
                    </div>
                </div>
            </div>
            <div class="screen-container" ng-if="$ctrl.application.appName === 'cj'">
                <h4 class="app-page-subtitle">Screenshots</h4>
                <div class="app-screens-container row">
                    <div class="app-screen-img">
                        <img class="img-responsive" ng-src="assets/cj/images/screenshots/app-screen1.jpg" alt="screen1">
                    </div>
                </div>
            </div>
            <div class="screen-container" ng-if="$ctrl.application.appName === 'sc'">
                <h4 class="app-page-subtitle">Screenshots</h4>
                <div class="app-screens-container row">
                  <div class="app-screen-img">
                    <img class="img-responsive app-image-margin" ng-src="assets/sc/images/screenshots/app-screen1.jpg" alt="screen1">
                  </div>
                  <div class="app-screen-img">
                    <img class="img-responsive app-image-margin" ng-src="assets/sc/images/screenshots/app-screen2.jpg" alt="screen2">
                  </div>
                  <div class="app-screen-img">
                    <img class="img-responsive app-image-margin" ng-src="assets/sc/images/screenshots/app-screen3.jpg" alt="screen3">
                  </div>
                </div>
            </div>
            <div class="screen-container" ng-if="$ctrl.application.appName === 'ra'">
                <h4 class="app-page-subtitle">Screenshots</h4>
                <div class="app-screens-container row">
                    <div class="app-screen-img">
                        <img class="img-responsive app-image-margin" ng-src="assets/ra/images/screenshots/app-screen1.jpg" alt="screen1">
                    </div>
                    <div class="app-screen-img">
                        <img class="img-responsive app-image-margin" ng-src="assets/ra/images/screenshots/app-screen2.jpg" alt="screen1">
                    </div>
                    <div class="app-screen-img">
                        <img class="img-responsive app-image-margin" ng-src="assets/ra/images/screenshots/app-screen3.jpg" alt="screen1">
                    </div>
                </div>
            </div>
            <div class="coming-soon-container" ng-show="$ctrl.application.appStatus===$ctrl.appStatus.COMING_SOON">
                <div class="coming-soon">
                    <h3 ng-if="$ctrl.application.appName === 'cj'">COMING WINTER 2016</h3>
                    <h3 ng-if="$ctrl.application.appName !== 'cj'">COMING FALL 2016</h3>
                    <p>Our exciting new app is coming soon, please comeback to check it out!</p>
                </div>
            </div>
        </div>
      </div>
</div>
</div>
