<div class="row">
  <div id="ab-header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
          <a class="navbar-brand" style="padding: 10px 10px 10px 15px;" href="#">
            <img src="assets/al/images/homepage/AB-SIte-Logo.png">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#products">Products</a></li>
            <li><a href="#solutions">Solutions</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li>
              <a href="/login">
                <button id="signin-home" type="button" class="btn btn-default">Sign In</button>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</div>
<div class="row" id="ab-banner">
  <div class="container">
    <p id="banner-text1">CONTACT CENTER<br>
      <span id="banner-text2">EXPERIENCE MANAGEMENT</span><br>
      <div id="underline">
      </div>
    </p>
    <p id="banner-text3">Technology Platform Company</p>
  </div>
  <div id="scroll-text">
    <p>learn more about us</p>
    <img src="assets/al/images/homepage/AB-Site-HomeGraphic.png">
  </div>
  <a id="scroll" href="#products">
  </a>
</div>
<div class="row" id="products">
  <div class="container">
    <ul class="list-inline ab-list">
      <li>&middot; Business Intelligence</li>
      <li>&middot; Customer Journey Analytics</li>
      <li>&middot; Application Solutions</li>
    </ul>
    <p class="ab-paragraph">
      A SaaS Contact Center Experience Management (CCEM) Platform for enterprises to build, measure, optimize their contact centers
      and deliver a better customer experience (CX).
    </p>
    <button id="ab-learnbutton" type="button" class="btn btn-default center-block">Learn More</button>
    <h2 class="ab-subtitle">Contact Center Business Intelligence </h2>
    <img class="center-block" style="margin-bottom: 80px;" src="assets/al/images/homepage/AB-Site-HomePic1.jpg">
  </div>
</div>
<div class="row" id="solutions">
  <div class="container">
    <div class="row">
      <h2 class="ab-title">What we offer</h2>
      <p class="ab-paragraph">
        Our experienced AutoBox team help pioneer Contact Center-as-a-Service (CCaaS) and now has created a real-time contact center
        business intelligence services environment with an innovative technology platform.
      </p>
      <div id="link-wrapper">
        <a href="#" id="ab-link">All our solutions</a>
        <div id="link-underline"></div>
      </div>
      <img class="center-block" style="margin-bottom: 20px;" src="assets/al/images/homepage/AB-Site-PanelGraphic.png">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="photo-panel-1" class="photo-panel">
          <h3>Intelligence</h3>
          <p class="abpanel-paragraph">
            Real-time business intelligence, analytics and visualization dashboards across the enterprise.
          </p>
          <div>
            <a href="#" class="panel-arrow"></a>
          </div>
          <div class="image-wrapper">
            <img src="assets/al/images/homepage/AB-Home-Solutions1.png">
            <div id="overlay1" class="image-overlay"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="photo-panel-2" class="photo-panel">
          <h3>Experiences</h3>
          <p class="abpanel-paragraph">
            Enhance the Customer experience (CX) and Customer Journey.
          </p>
          <div>
            <a href="# " class="panel-arrow"></a>
          </div>
          <div class="image-wrapper">
            <img src="assets/al/images/homepage/AB-Home-Solutions2.png">
            <div id="overlay2" class="image-overlay"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="photo-panel-3" class="photo-panel">
          <h3>Applications</h3>
          <p class="abpanel-paragraph">
            Connect with pre-built solutions by roles and industries. Create strategic applications for services, sales, marketing finance
            and operations utilizing pre-built connectors.
          </p>
          <div>
            <a href="#" class="panel-arrow"></a>
          </div>
          <div class="image-wrapper">
            <img src="assets/al/images/homepage/AB-Home-Solutions3.png">
            <div id="overlay3" class="image-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="contact">
  <div class="container">
    <div class="row">
      <h2 class="ab-title">Contact Us</h2>
      <h2 class="ab-subtitle">1990 North California Blvd, 8th Floor Walnut Creek, CA 94596</h2>
      <p class="ab-paragraph">If you would like to be part of our launch program, please contact us using the form below or by sending an email to
        <a href="mailto:info@autoboxcorp.com">info@autoboxcorp.com</a> with the subject line: &ldquo;I would like to join
        AutoBox's launch program&rdquo;</p>
    </div>
<form class="contact-form" name="contactForm" novalidate ng-submit="contactForm.$valid && $ctrl.sendmail()">
  <div class="col-md-12">
     <abx-message msg="$ctrl.message"></abx-message> 
  </div> 
  <div class="row">
		<div class="col-md-6">
			<input placeholder="FIRST NAME *" type="text" name="firstName" maxlength="50" ng-model="$ctrl.cform.firstname" class="form-control autobox-textfield textfield-small center-block" 
				required>
			<div ng-messages="contactForm.$submitted && contactForm.firstName.$error" class="errors-texts">		
				<p ng-message="required">This field is required</p>
			</div>
		</div>
		<div class="col-md-6">	
			<input placeholder="LAST NAME *" type="text" maxlength="50" name="lastName" ng-model="$ctrl.cform.lastname"  class="form-control autobox-textfield textfield-small center-block" required>
			<div ng-messages="contactForm.$submitted && contactForm.lastName.$error" class="errors-texts"> 		
				<p ng-message="required">This field is required</p>
			</div>			
		</div>
		<div class="col-md-6">
			<input  placeholder="BUSSINESS EMAIL *" type="email" name="email" ng-model="$ctrl.cform.email" maxlength="50" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  class="form-control autobox-textfield textfield-small center-block" required>
			<div ng-messages="contactForm.$submitted && contactForm.email.$error" class="errors-texts">		
				<p ng-message="required">This field is required</p>
				<p ng-message="pattern">Invalid email</p>
			</div>
		</div>
		<div class="col-md-6">	
			<input placeholder="PHONE" type="tel" ng-minlength="10" ng-maxlength="20" maxlength="20" name="tel" ng-model="$ctrl.cform.tel" abx-digits-only class="form-control autobox-textfield textfield-small center-block">
			<div ng-messages="contactForm.tel.$error" class="errors-texts">
				<p ng-message="minlength">Invalid phone number</p>   
        <p ng-message="maxlength">max digits 20</p>   
			</div>
		</div>
	</div>
	<div class="row"  style="margin-bottom: 30px;">
		<div class="col-md-12">
			<input placeholder="COMPANY"  maxlength="50" type="text" name="company"  ng-model="$ctrl.cform.company"  class="form-control autobox-textfield center-block">	
			<textarea placeholder="MESSAGE *" maxlength="250" rows="1" data-min-rows="1" name="message" ng-model="$ctrl.cform.message"  class="form-control autobox-textfield center-block auto-expand" required ></textarea>
			<div ng-messages="contactForm.$submitted && contactForm.message.$error" class="errors-texts">		
				<p ng-message="required">This field is required</p>
			</div>
		</div>
	</div>
	<div class="row">
		<button id="ab-submitbutton" type="submit" ng-disabled="$ctrl.submitText=='Submitting..'" class="btn btn-default center-block">{{$ctrl.submitText}}</button>
	</div>
</form>
  </div>
</div>
<div class="row" id="abhome-footer">
  <div class="container">
    <div class="row" style="margin-top: 80px;">
      <div class="col-md-2">
        <ul class="footer-list">
          <li style="margin-bottom: 20px; margin-top: 0px;"><span class="footer-title">PRODUCTS</span></li>
          <li><a href="#">Business Intelligence</a></li>
          <li><a href="#">Customer Journey Analytics</a></li>
          <li><a href="#">Application Solutions</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="footer-list">
          <li style="margin-bottom: 20px; margin-top: 0px;"><span class="footer-title">SOLUTIONS</span></li>
          <li><a href="#">Real-time BI</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Visualization Dashboards </a></li>
          <li><a href="#">Customer Journey</a></li>
          <li><a href="#">Applications</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="footer-list">
          <li style="margin-bottom: 20px; margin-top: 0px;"><span class="footer-title">RESOURCES</span></li>
          <li><a href="#">Developers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-4">
            <a href="#">
              <img id="ab-facebook" class="social-image" src="assets/al/images/homepage/AB-Site-SocialFacebook-Default.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img id="ab-twitter" class="social-image" src="assets/al/images/homepage/AB-Site-SocialTwitter-Default.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img id="ab-google" class="social-image" src="assets/al/images/homepage/AB-Site-SocialGoogle+-Default.png">
            </a>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-4">
            <a href="#">
              <img id="ab-linkedin" class="social-image" src="assets/al/images/homepage/AB-Site-SocialLinkedin-Default.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img id="ab-youtube" class="social-image" src="assets/al/images/homepage/AB-Site-SocialYouTube-DEFAULT.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img id="ab-vimeo" class="social-image" src="assets/al/images/homepage/AB-Site-SocialVimeo-Default.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="footer-text" style="margin-bottom: 80px; text-align: left; padding-left: 15px; margin-top: 70px;">
        <p>&copy; 2016 AutoBox, LLC. All Rights Reserved. <a href="#">Privacy</a> and <a href="#">Terms</a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

$(document)
    .one('focus.auto-expand', 'textarea.auto-expand', function(){
        var savedValue = this.value;
        this.value = '';
        this.baseScrollHeight = this.scrollHeight;
        this.value = savedValue;
    })
    .on('input.auto-expand', 'textarea.auto-expand', function(){ 
        var minRows = this.getAttribute('data-min-rows')|0, rows;
        this.rows = minRows;
        rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 17);
        this.rows = minRows + rows;
    });

</script>