.regular-radio{
	margin-right: 10px;
	label{
    	color: #666;
	}
}
.inline-radio{
	display: inline-block;
	margin-right: 45px;
}
.disposition-type-header{
	padding-left: 20px;
	margin-bottom: 5px;
	@media (max-width: 768px) {
      padding-left: 0px;
    }
    input{
		margin-right: 5px;
	}
}
.disposition-type-options{
	display: block;
}

.disposition-type-body{
	padding-left: 50px;
	@media (max-width: 768px) {
      padding-left: 25px;
    }
    label{
		margin-bottom: 0px;
		font-weight: 100;
	}
	.checkbox{
		margin-bottom: 10px;
	}
}
.timer-items{
	display: inline-block;
}
.al-theme .custom_form{
	.inputminimal > div.timer-container{
		height: 100%;
		display: inline-block;
		vertical-align: bottom;
		text-align: left;
		div{
			height: 100%;
		}
	}
	.disposition-type-body 
	{
		.inputminimal > label{
			max-width: 180px; 
			word-wrap: break-word;
			@media (max-width: 600px) {
				max-width: 100px; 
				line-height: 17px;
			}
		}
		.inputminimal{
			max-width: 350px;
			display: inline-flex;
			padding-right: 9px;
		}
		.inputminimal-disabled{
			background-color: @gray;
			cursor: not-allowed;
		}

	}
	.no-padding-error{
		padding-left: 0px;
	}
	ul.nav-tabs{
		&>li>a{
			padding-left: 0;
			padding-right: 0;
			margin-right: 15px;
		}
	}
	.button-container{
		&>button.btn-black{
			width: 100px;
		}
	}
}

.timer-container > .timer-items > abx-number-updown > .abx-number-container > .abx-number-input{
	width: 35px;
}


.div-number-has-error{
	color: #e64b3b;
    line-height: 15px;
    padding-left: 12px;
}