
<h3 class="title_section">{{$ctrl.action}}:<span> {{$ctrl.actionName}}</span></h3>


 
<abx-message msg="$ctrl.message"></abx-message> 
 <abx-load-indicator ng-hide="$ctrl.found"> </abx-load-indicator>

<form name="dispositionForm" ng-show="$ctrl.found" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="dispositionForm.$valid && $ctrl.save()">
<uib-tabset  justified="false">
    <uib-tab index="0" heading="General">
       
            <div class="inputminimal" ng-class="{ 'has-error': dispositionForm.name.$invalid && dispositionForm.$submitted }">
                <label for="firstName" >Name*</label>
                <div>
                    <input autofocus type="text" name="name" id="name" required ng-model="$ctrl.disposition.name">
                 </div>
            </div>
            <div ng-messages="dispositionForm.name.$error" ng-show="dispositionForm.$submitted">                  
                        <p ng-message="required">This field is required</p>
            </div>
            <div class="inputminimal" ng-class="{ 'has-error': dispositionForm.name.$invalid && dispositionForm.$submitted }"> 
	            <label for="description">Description</label>
	            <div>
	                <input type="text"  name="description" id="description"  ng-model="$ctrl.disposition.description">
	                    
	            </div>
	        </div>         
            <div class="form-group">
              <div class="col-sm-4">
                   <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.disposition.agentMustConfirm"> Agent Must Confirm
                        </label>
                    </div>
                   <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.disposition.trackAsFirstCallResolution"> Track as First Call resolution
                        </label>
                    </div>
              </div>
              <div class="col-sm-4">
                   <div class="radio regular-radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.disposition.agentMustCompleteWorksheet" ng-value='true'> Agent Must Complete Worksheet
                        </label>
                    </div>
                    <div class="radio regular-radio">
                        <label>
                            <input type="radio" ng-model="$ctrl.disposition.agentMustCompleteWorksheet" ng-value='false'> Worksheet Cannot Be Used With This Disposition
                        </label>
                    </div>
              </div>
              <div class="col-sm-4">                  
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.disposition.resetAttemptsCounter"> Reset Attempts Counter
                        </label>
                    </div>
              </div>          
            </div>
          
      
    </uib-tab>

    <uib-tab index="1" heading="Type" select="$ctrl.checkStepOne(dispositionForm)">
        <div class="row">
            <div class="disposition-type-item">       
	           	<div class="disposition-type-header ">
	                   <input type="radio" ng-model="$ctrl.disposition.type" value='RedialNumber' ng-change="$ctrl.clearGroup()"> Redial Number
	            </div>
	            <div class="disposition-type-body">
	            	<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.redial.useTimer" ng-disabled="$ctrl.disposition.type!='RedialNumber'"> Use Redial Timer
                        </label>
                    </div>
	            	<div ng-class="{'inputminimal-disabled': $ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer  }" class="inputminimal">       
	                   <label>Redial After (DD:HH:MM):</label>
	                   <div class="timer-container">
	                   	<div class="timer-items">
	                   		<abx-number-updown ng-model="$ctrl.redial.timer.days" ng-disabled="$ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer" min-value="$ctrl.minOfDays($ctrl.redial.timer)" max-value=59></abx-number-updown>
	                   	</div>
	                   	<div class="timer-items">
	                   		<abx-number-updown ng-model="$ctrl.redial.timer.hours" ng-disabled="$ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer" min-value="$ctrl.minOfHours($ctrl.redial.timer)" max-value=23></abx-number-updown>
	                   	</div>
	                   	<div class="timer-items" >
	                   		<abx-number-updown ng-model="$ctrl.redial.timer.minutes" ng-disabled="$ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer" min-value="$ctrl.minOfMinutes($ctrl.redial.timer)" max-value=59></abx-number-updown>
	                   	</div>
	                   </div>
	                </div>
                   <div ng-class="{'inputminimal-disabled': $ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer  }" class="inputminimal">     
	                   <label>Number of Attempts:</label>
	                   <div class="timer-container">
	                   	<div class="timer-items">
	                   		<abx-number-updown ng-model='$ctrl.redial.attempts' min-value="1" max-length="2" ng-disabled="$ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer" max=99></abx-number-updown>
	                   	</div>
	                   </div>
                   </div>
					<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.redial.allowChangeTimer" ng-disabled="$ctrl.disposition.type!='RedialNumber' || !$ctrl.redial.useTimer"> Allow Agents to Change Redial Time
                        </label>
                    </div>


	            </div>
            </div>


            <div class="disposition-type-item">       
	           	<div class="disposition-type-header ">
	                   <input type="radio" ng-model="$ctrl.disposition.type" value="DoNotDial" ng-change="$ctrl.clearGroup()"> Do Not Dial Number for Campaign
	            </div>
	            <div class="disposition-type-body">
	            	<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.notDial.useTimer" ng-disabled="$ctrl.disposition.type!='DoNotDial'"> Use Timer to Reactivate Number
                        </label>
                    </div>
	            	<div ng-class="{'inputminimal-disabled': $ctrl.disposition.type!='DoNotDial' || !$ctrl.notDial.useTimer  }" class="inputminimal">       
	                   <label>Activate After (DD:HH:MM):</label>
	                   <div class="timer-container">
	                   	<div class="timer-items" >
	                   		<abx-number-updown ng-model="$ctrl.notDial.timer.days" ng-disabled="$ctrl.disposition.type!='DoNotDial' || !$ctrl.notDial.useTimer" min-value="$ctrl.minOfDays($ctrl.notDial.timer)" max-value=59></abx-number-updown>
	                   	</div>
	                   	<div class="timer-items">
	                   		<abx-number-updown ng-model="$ctrl.notDial.timer.hours" ng-disabled="$ctrl.disposition.type!='DoNotDial' || !$ctrl.notDial.useTimer" min-value="$ctrl.minOfHours($ctrl.notDial.timer)" max-value=23></abx-number-updown>
	                   	</div>
	                   	<div class="timer-items" >
	                   		<abx-number-updown ng-model="$ctrl.notDial.timer.minutes" ng-disabled="$ctrl.disposition.type!='DoNotDial' || !$ctrl.notDial.useTimer" min-value="$ctrl.minOfMinutes($ctrl.notDial.timer)" max-value=59></abx-number-updown>
	                   	</div>
	                   </div>
	                </div>

					<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.notDial.allowChangeTimer" ng-disabled="$ctrl.disposition.type!='DoNotDial' || !$ctrl.notDial.useTimer"> Allow Agents to Change Reactivation Time
                        </label>
                    </div>

	            </div>
            </div>


            <div class="disposition-type-item">       
	           	<div class="disposition-type-header ">
	                   <input type="radio" ng-model="$ctrl.groupActive" value='finalDisp' ng-change="$ctrl.finalDispActive()"> Final Disposition for Contact Record
	            </div>
	            <div class="disposition-type-body">
	            	<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.disposition.type" ng-false-value="'FinalDisp'"  ng-true-value="'FinalApplyToCampaigns'" ng-disabled="$ctrl.groupActive!='finalDisp'"> Apply to Campaigns Using This Disposition
                        </label>
                    </div>

	            </div>
            </div>


         	<div class="disposition-type-item">       
	           	<div class="disposition-type-header ">
	                   <input type="radio" ng-model="$ctrl.groupActive" value="dnc" ng-change="$ctrl.disposition.type='AddActiveNumber'"> Add Number(s) to DNC List
	            </div>
	            <div class="disposition-type-body">
	            	<div class="radio regular-radio">
                        <label>
                            <input type="radio" ng-disabled="$ctrl.groupActive!='dnc'" ng-model="$ctrl.disposition.type" value="AddActiveNumber"> Add Active Number
                        </label>
                    </div>
                    <div class="radio regular-radio">
                        <label>
                            <input type="radio" ng-disabled="$ctrl.groupActive!='dnc'" ng-model="$ctrl.disposition.type" value="AddAndFinalize"> Add Active Number and Finalize Record for Campaign
                        </label>
                    </div>
                    <div class="radio regular-radio">
                        <label>
                            <input type="radio" ng-disabled="$ctrl.groupActive!='dnc'" ng-model="$ctrl.disposition.type" value="AddAllNumbers"> Add All Numbers and Finalize Record for Campaign
                        </label>
                    </div>

	            </div>
            </div>
        </div>
    </uib-tab> 
</uib-tabset>
<div class="form-group text-center">
  <button type="submit" class="btn btn-black" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
  <button type="button" class="btn btn-black" ui-sref="ap.al.users">Cancel</button>  
</div>
</form>
