<h3 class="title_section">Lists: <span>{{$ctrl.sendContact.listName}}</span></h3>

<abx-message msg="$ctrl.message"></abx-message>


<abx-load-indicator ng-show="!$ctrl.loaded" text="Loading List"></abx-load-indicator>

<abx-load-indicator ng-show="$ctrl.sending" text="Sending"></abx-load-indicator>

<div ng-show="!$ctrl.sending && $ctrl.loaded" class="edit-list margin-with-footer">
    <div class="pull-left">
        <div class="mywell list-title-mapp">
            <h3 ng-if="$ctrl.typeUpdate">List Update</h3>
            <h3 ng-if="!$ctrl.typeUpdate">List Delete</h3>
        </div>
        <div class="mywell">
            <div class="searchbox_container search">
                <input type="search" ng-model="$ctrl.search" class="searchbox" placeholder="Search" ng-change="$ctrl.filteringBySearch()">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <div class="mywell text-right">
            <a class="btn btn-black btn-fixed-80" ng-click="$ctrl.cancelList()">Cancel</a>
        </div>
        <div class="mywell remove-spaces-inline" ng-show="!$ctrl.loadingContacts || !$ctrl.manual">
            <button class="btn btn-black right-space-20 btn-fixed-80" ng-if="$ctrl.manual" ng-click="$ctrl.insertContact()">Insert</button>
            <button class="btn btn-black right-space-20 btn-fixed-80" ng-if="!$ctrl.manual" ng-click="$ctrl.insertContact()" ng-disabled="$ctrl.error">Insert</button>
            <button class="btn btn-black right-space-20 btn-fixed-80" ng-disabled="$ctrl.selectedArray.length === 0 || $ctrl.selectedArray.length > 1" ng-click="$ctrl.editContact()">Edit</button>
            <button ng-class="{ 'btn btn-black btn-fixed-80': !$ctrl.typeUpdate , 'btn btn-black right-space-20 btn-fixed-80': $ctrl.typeUpdate }" ng-disabled="$ctrl.selectedArray.length < 1" ng-click="$ctrl.deleteContact()">Delete</button>
<button class="btn btn-black btn-fixed-80" ng-click="$ctrl.shuffleList()" ng-disabled="$ctrl.filteredList.length <= 1">Shuffle</button>
        </div>
    </div>

    <div class="table-responsive table-x-scroll" ng-show="$ctrl.list.length>0">
        <table class="table table-striped contact-list" ng-show="$ctrl.filteredList.length">
            <thead>
                <th ng-click="$ctrl.sortColumn(header.name)" ng-repeat="header in $ctrl.contactFields" class="sortColumn">
                    {{header.name | removeUnderscore}}
                    <span class="glyphicon" ng-show="$ctrl.getSort(header.name)" ng-class="{'glyphicon-chevron-up':$ctrl.reverse,'glyphicon-chevron-down':!$ctrl.reverse}"></span>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in ( $ctrl.filteredList=($ctrl.list | filter:$ctrl.search) |  limitTo:$ctrl.numPerPage:$ctrl.beginNext) track by $index" ng-click="$ctrl.selectedContact($index+$ctrl.beginNext, item)" ng-dblclick="$ctrl.editContact(item)">
                    <td ng-repeat="header in $ctrl.contactFields" ng-class="{'row-selected': $ctrl.selectedArray.indexOf(key+$ctrl.beginNext) != -1}">
                        <label class="light-label">
                            {{$ctrl.formatField(header, item[header.name])}}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mywell footer_table text-center" ng-show="$ctrl.list.length>0">

        <div class="noresults" ng-show="!$ctrl.filteredList.length" ng-if="$ctrl.search">
            <img src="assets/al/images/NoResultsIcon.png" alt="lupa">
            <p>We couldn't find what you are looking for</p>
        </div>

        <label class="pull-left" ng-if="$ctrl.filteredList.length">Showing {{$ctrl.beginNext+1}}-{{$ctrl.getMax()}} of {{$ctrl.filteredList.length}}</label>

        <uib-pagination ng-if="$ctrl.filteredList.length" total-items="$ctrl.filteredList.length" ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage
    " boundary-links="true " ng-change="$ctrl.pageChanged()">
        </uib-pagination>

        <div class="pull-right results_per_page" ng-show="$ctrl.filteredList.length"><span>Show</span>

            <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities" ng-change="$ctrl.pageChanged()">
        </select> <span>results per page</span>
        </div>
    </div>
    <div class="text-center" ng-show="$ctrl.list.length>0">
        <button class="btn btn-black" ng-click="$ctrl.uploadContacts()">Upload</button>
    </div>
</div>
<div id="edit-list"></div>
