<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/ap/al/skills" class="logo">AutoBox</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-icons navbar-right">
        <li>
          <a href="/underconstruction">
            <img src="/assets/al/images/chatDefault.png" alt="chat" />
          </a>
        </li>
        <li><a href="/underconstructtion">
            <img src="/assets/al/images/serverDefault.png" alt="server">
        </a></li>
        <li class="dropdown" ng-mouseenter="nav.userOptionsCollapsed = false" ng-mouseleave="nav.userOptionsCollapsed = true">
          <a href="#" class="dropdown-toggle" role="button">
            <img src="assets/al/images/avatar.png" alt="avatar">
            Jhon<span class="glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-up':nav.userOptionsCollapsed,'glyphicon-chevron-down':!nav.userOptionsCollapsed}"></span>
            </a>
          <ul class="dropdown-menu" uib-collapse="nav.userOptionsCollapsed">
            <li><a href="/underconstruction">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>