<section class="row apps-container">
	<h3 class="title_section">Autobox apps</h3>



	<div class="partner-container" ng-repeat="partner in $ctrl.partners">
		<b>{{partner.partnerName}}</b>
		<div class="row apps-container">
			<div class="app-wrapper" ng-repeat="app in partner.apps">
				<div class="image-container">
					<img class="img-responsive" ng-src="assets/{{app.appName}}/images/logo.jpg">
				</div>
				<div class="title-container">
					<h3>{{app.appFullName}}</h3>
				</div>
				<div class="text-container">
					<p>{{app.description}}</p>
				</div>
			</div>
		</div>
	</div>


</section>
