<h3 class="title_section">List: <span>{{::$ctrl.list.name}}</span></h3>


<abx-message msg="$ctrl.message"></abx-message> 
<div ng-show="$ctrl.csvFile && $ctrl.isCsv() !== 'csv'">
	<abx-message msg="$ctrl.csvMessage"></abx-message> 
</div>
<abx-load-indicator ng-hide="$ctrl.found"></abx-load-indicator> 
<abx-load-indicator ng-show="$ctrl.confirm"></abx-load-indicator> 
<div ng-show="$ctrl.found && !$ctrl.confirm">
    <div class="pull-right button-container" ng-hide="$ctrl.homeSelected">
    	<button ng-show="$ctrl.fileSelected" ng-click="$ctrl.goBack()" class="btn btn-black btn-sm-fixed">Back</button>
    	<button ng-click="$ctrl.cancelAction()" class="btn btn-black btn-sm-fixed">Cancel</button>
    </div> 
    <div ng-show="$ctrl.deleteSelected || $ctrl.updateSelected" class='settings-options-container'>
		<div ng-show="$ctrl.deleteSelected" class="settings-text">
			<h3>List update</h3>
			<p>Select how would you like to remove your list records:</p>
	  	</div>
	  	<div ng-show="$ctrl.updateSelected" class="settings-text">
			<h3>List update</h3>
			<p>Select how would you like to update the list:</p>
	  	</div>
	  	<a class="toggle-link" ng-click="$ctrl.advancedOptions.isCollapsed = !$ctrl.advancedOptions.isCollapsed"><i class="pull-left fa" ng-class="{'fa-angle-right': $ctrl.advancedOptions.isCollapsed, 'fa-angle-up': !$ctrl.advancedOptions.isCollapsed}" ></i> Advanced options</a>
		<div class='settings-advanced-container' uib-collapse="$ctrl.advancedOptions.isCollapsed">
			<div class="well settings-well" ng-show="$ctrl.deleteSelected">
				<h4>Actions for list update:</h4>
	           	<div>
       				<input type="radio" ng-model="$ctrl.listDeleteSettings.listDeleteMode" value='DELETE_ALL'> Remove all matching records from list
	            </div>
	            <div>
      				 <input type="radio" ng-model="$ctrl.listDeleteSettings.listDeleteMode" value='DELETE_EXCEPT_FIRST'> Remove all matching list records and add first (oldest) matching Contact Record to list
	            </div>
			</div>
			<div class="well settings-well" ng-show="$ctrl.updateSelected">
				<h4>Action for list update:</h4>
	           	<div class="sub-option">
       				<input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_FIRST'> Add first (oldest) matching Contact Record to the list
	            </div>
	            <div class="sub-option">
      				 <input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_ALL'> Add all matching Contact Records (in case of multiple records) to the list
	            </div>
	            <div class="sub-option">
      				 <input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_IF_SOLE_CRM_MATCH'> Skip list record if multiple matches are found in Contact
	            </div>
	            <div>
      				 <input type="checkbox" ng-model="$ctrl.listUpdateSettings.cleanListBeforeUpdate"> Delete all list records before update. Warning: some reporting data will be lost
	            </div>
	            <h4>Actions for Contact update</h4>
	            <div>
      				 <input type="checkbox" ng-model="$ctrl.listUpdateSettings.crmAddMode" ng-false-value="'DONT_ADD'"  ng-true-value="'ADD_NEW'"> Add new Record if matching key is not found in Contacts
	            </div>
	            <div>
      				 <input type="checkbox" ng-model="$ctrl.updateRecords" ng-change="$ctrl.setUpdateValue()"> Update existing Contact Record(s) with matching key
	            </div>
	            <div class="sub-option">
      				 <input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_FIRST'> First (oldest) matching record
	            </div>
	            <div class="sub-option">
      				 <input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_ALL'> All matching records (in case of multiple matches)
	            </div>
	            <div class="sub-option">
      				 <input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_SOLE_MATCHES'> Only if single match in Contacts
	            </div>
			</div>
		</div>
		<div ng-show="$ctrl.optionButtons" class="settings-button-container">
			<button ng-click="$ctrl.nextStep()" class="btn btn-black">Input records manually</button>
			<button ng-click="$ctrl.displayFileField()" 
			class="btn btn-black">Import source file</button>
		</div>
		<div ng-show="$ctrl.fileSelected" class="settings-container">
			<div class='settings-file-container'>
				<label>Import source file:</label><a href="" ng-click='$ctrl.browseFile()'>{{$ctrl.csvFile?$ctrl.csvFile.name:'Choose File...'}}</a>
				<input type="file" id="csv-file" abx-read-file="$ctrl.csvFile">
			</div>
			<p ng-show="!$ctrl.csvFile && $ctrl.sent" class="file-empty-error">This field is required</p>
			<div class='upload-checkbox'>
  				 <input type="checkbox" ng-model="$ctrl.settingsParams.skipPreview"> Skip preview of uploaded records (recommended for large files)
            </div>
			<div class="text-center">
				<button ng-click="$ctrl.sendFile()" class="btn btn-black btn-sm-fixed">Continue</button>
			</div>
		</div>
    </div>         
</div>
