.multi-select-dropdown{
	width: 100%;
	&>p.multi-select-items{
		padding-left: 10px;
		width: 95%;
		text-align: left;
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
	&>a.dropdown-toggle{
		width: 5%;
		color: black;
	}
	&>ul.dropdown-menu{
		position: relative;
		width: 100%;
		&>li{
			cursor:pointer;
			&>a{
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
		}
	}
}