.multi-select-dropdown{
	width: 84%;
	&>p.multi-select-items{
		width: 95%;
		text-align: left;
	}
	&>a.dropdown-toggle{
		width: 5%;
		color: black;
	}
	&>ul.dropdown-menu{
		position: absolute;
		width: 100%;
		&>li{
			cursor:pointer;
		}
	}
}