<div class="modal-header">
    	<div class="close-container">
        	<button type="button" class="close circle_close_alert" ng-click="$ctrl.cancel()"></button>
        </div>
        <h4 class="modal-title">QA Form</h4>
    </div>
    <div class="modal-body fixed-modal-size-300">
        <div class="question-block" ng-repeat="question in $ctrl.questions track by $index">
        	<div class="question-container">
        		<div class="question">
	        		<span class="question-number">{{$index+1}}&nbsp;</span>
	        		<p class="question-content">{{question.value}}</p>
        		</div>
        		<label class="answer">
	        		<input type="radio" name="question-{{$index+1}}" ng-checked="true"> <span class="first-option">1-5 ({{question.type===0?'Poor':'Mostly'}})</span>
	        	</label>
	        	<label class="answer">
	        		<input type="radio" name="question-{{$index+1}}"> <span>5-10 ({{question.type===0?'Need improvement':'Sometimes'}})</span>
	        	</label>
	        	<label class="answer">
	        		<input type="radio" name="question-{{$index+1}}"> <span>10-15 ({{question.type===0?'Good':'Very few'}})</span>
	        	</label>
        	</div>
        </div>
    </div>
    <div class="modal-footer">
    	<div class="modal-button-container remove-spaces-inline">
          <button class="btn btn-blue right-space-20" ng-click="$ctrl.cancel()">Save</button>
          <button class="btn btn-blue" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div>
