// all styles for admin lite theme
.al-theme {

    // applies to all tables, wrap long texts
    .table{
        table-layout: fixed;
        td{            
           word-wrap: break-word;
        }
    }

    //title style for section header
    .title_section {
        margin-top: 50px;
        color: @blue;
        font-size: 30px;
        margin-bottom: 50px;
        line-height: 20px;
        font-family: BrandonLight;
        word-wrap: break-word;
        line-height: 1;
        span {
            color: @black;
        }
    }
    //buttons style black in all aplication
    .btn-black {
        background: @black;
        border-radius: 0;
        color: @white;
        padding: 0 32px;
        height: 30px;
        line-height: 30px;
        transition: all .2s ease-out;
        &:hover, &:active {
            background: #666;
            color: @white;
        }
    }
    //buttons style blue in all aplication
    .btn-blue {
        background: @blue;
        border-radius: 0;
        color: @white;
        padding: 0 32px;
        height: 30px;
        line-height: 30px;
        transition: all .2s ease-out;
        &:hover, &:active {
            background: #666;
            color: @white;
        }
    }
    //button template for list
    .btn-row {
        border-radius: 0;
        font-family: BrandonMedium;
        padding: 2px 6px;
        border: 0;
        width: 60px;
    }
    .btn-sm{
        width: 75px;
        padding: 0;
        text-align: center;
    }
    .rigth-space-sm{
        margin-right: 10px;
    }
    .btn-shared-row{
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
    }
    // circle for delete in lists
    .circle_delete {
        font-size: 25px;
        color: @red;
        width: 50px;
        height: 20px;
        background: url('@{images_al_path}/DeleteIcon-Default.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
        &:hover, &:active {
            background: url('@{images_al_path}/DeleteIcon-Active.png') no-repeat center center;
        }
    }
    // circle for close modals
    .circle_close {
        font-size: 25px;
        width: 50px;
        height: 20px;
        background: url('@{images_al_path}/CloseIcon-Default.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
        &:hover, &:active {
            background: url('@{images_al_path}/CloseIcon-Active.png') no-repeat center center;
        }
    }
    // circle for close alert modals
    .circle_close_alert {
        font-size: 25px;
        width: 50px;
        height: 20px;
        background: url('@{images_al_path}/CloseAlertIcon-Default.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
        &:hover, &:active {
            background: url('@{images_al_path}/CloseAlertIcon-Active.png') no-repeat center center;
        }
    }
    .mywell {
        background: none;
        border: 0;
        padding: 0;
        margin: 0 0 50px;
        border-radius: 0;
        box-shadow: none;
        &.footer_table {
            font-family: BrandonRegular;
            margin-top: 50px;
            margin-bottom: 60px;
            font-size: 14px;
            overflow: hidden;
        }
    }
    // logo five9
    .logofive9 {
        width: 100%;
        margin:0;

    }
    .loader_indicator {
        width: 200px;
        height: 100px;        
        text-align: center;
        font-size: 24px;
        //margin-top: 34%;
        color: #666;
        display: block;
        margin-right: auto; 
        margin-left: auto;
        padding: 20px 0;
        font-family: BrandonRegular;
        > img {
            margin-bottom: 15px;
        }
    }
    .noresults {
        font-size: 24px;
        color: #666;
        line-height: 49px;
        text-align: center;
        margin-top: 10%;
    }
    .sortColumn:hover {
        cursor: pointer;
    }
    .sortColumn:hover {
        cursor: pointer;
    }
    .results_per_page select {
        appearance: none;
        background: white url('@{images_al_path}/dropdown.png') no-repeat 82% center;
        margin: 0 3px;
        border: 1px solid @gray;
        padding: 3px 18px 3px 5px;
    }
    .to_capitalize {
        text-transform: lowercase;
        &:first-letter {
            text-transform: capitalize;
        }
    }
    .footer_table {
        .pull-left {
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .btn-row-campaign {
        border-radius: 0;
        padding: 2px 6px;
        font-size: 14px;
        border: 0;
        width: 70px;
    }
    .btn-danger {
        background: @red;
        &:disabled {
            background: #e64b3b;
        }
    }
    .btn-primary {
        background: @blue;
        &:disabled {
            background: #99cfec;
        }
    }
    .table-hover tr {
        cursor: pointer;
    }
    h4 {
        font-weight: normal;
    }
    .cell-select {
        width: 100%;
        border: 0;
        height: 100%;
        vertical-align: top;
        appearance: none;
        border:0;
        outline:0;       
        background: transparent;

        
    }
    .withArrow{
            background:url('@{images_al_path}/dropdown.png') no-repeat center center;   
    }

    .cell-checkbox {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin:0;
    }
    .number-updown-width {
        .abx-number-input {
            width: 92%;
            padding-right: 10px;
        }
        .abx-number-arrows {
            width: 8%;
            min-width: auto;
        }
    }

    //Add margin between settings components
    .settings-container {

        margin-top: 10px;
        #csv-file{
            display: none;
        }
        .settings-file-container{
            font-size: 16px;
            &>label{
                color: black;
                font-weight: normal;
                margin-right: 5px;
            }
        }
        &>div.upload-checkbox{
            color: #666;
        }
    }

    .settings-options-container{
        a.toggle-link{
            color: black;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            &:hover{
                color: black;
            }
        }
        .settings-advanced-container{
            margin-top: 20px;
            input[type="radio"],input[type="checkbox"]{
                margin-top: 10px;
            } 
            .sub-option{
                padding-left: 20px;
            }
            .settings-well{
                background-color: white;
                margin-bottom: 0;
                &>div{
                    color: #666;
                }
            }
        }
    }
    .settings-text{
        font-family: BrandonLight;
    }
    .settings-button-container{
        text-align: center;
        button.btn-black{
            width: 185px;
            margin-left: 7px;
            margin-right: 7px;
        }
    }
    .file-empty-error{
        color: red;
    }
    .button-container{
        &>button.btn-black{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    //change password column style
    .no-margin{
    margin: 0;
        &>div{
            padding-left: 0px;
            padding-right: 0;
            &>input.btn-black{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                height: 35px;
            }
        }
    }
    //small fixed style for some buttons
    .btn-sm-fixed{
        width: 90px;
        padding: 0;
    }
    
    //add Modal transparent
    #modal-container{
        .modal{
            overflow-y: hidden;
        }
        .modal-content{
            text-align: left;
            background: transparent;
            box-shadow: none;
            border: none;
        }
        .modal-input{
            width: 60%;
        }
        .medium-input{
            margin-top: 20px;
        }
        .modal-dialog{
            margin: 60px auto;
            margin-right: 0;
            width: 70%;

        }
        .modal-header{
            border: none;
            .title_section{

                margin-top: 35px;
                margin-bottom: 2px;
            }
        }

        .modal-backdrop.in {
            opacity: 0.9;
        }
        .modal-button-container {

            text-align: center;
            display: block;
            width: 60%;
            margin-top: 30px;

            &>.btn-blue{
                margin-left: 10px;
                margin-right: 10px;
                width: 100px;
            }
        }
        p{
            padding-left: 0;
            
        }
        .error-modal{
            color: #e64b3b;
        }
        .error-message{

            width: 60%;
            margin-top: 20px;
        }
    }

    #modal-skill-container{
        .modal{
            overflow-y: hidden;
        }
        .modal-input{
            width: 60%;
        }
        .medium-input{
            margin-top: 20px;
        }
        .modal-dialog{
            width: 100%;
        }
        .modal-content{
            background: transparent;
            box-shadow: none;
            border: none;
            width: 400px;
            margin: 0 auto;
        }
        .modal-header{
            border: none;
            .title_section{

                margin-top: 35px;
                margin-bottom: 2px;
            }
        }

        .modal-backdrop.in {
            opacity: 0.9;
        }
        .modal-button-container {

            text-align: center;
            display: block;
            width: 60%;
            margin-top: 30px;

            &>.btn-blue{
                margin-left: 10px;
                margin-right: 10px;
                width: 100px;
            }
        }
        p{
            padding-left: 0;
            
        }
        .error-modal{
            color: #e64b3b;
        }
        .error-message{

            width: 60%;
            margin-top: 20px;
        }
        .circle_close{
            position: fixed;
            top: 18px;
            right: 3%;
            opacity: 0.5;
        }
    }

    input[disabled],button[disabled],select[disabled]{
        color:#ccc;
        cursor:not-allowed;
    }
    //inline input with label
    .custom_form{
        .inputminimal{
            &>input.inline-input{
                width: auto;
            }
        }
    }

    // ommit bootstrap col-x, adding fixed with to sidebar and fluid to rightside
    .sidebar{
        width: 200px;
        float: left;
        padding: 50px 30px 0;
    }
    .rightside{
        float: left;
        width: ~"calc(100% - 200px)";
    }


    .header-table-mapping{
          background: white;
          border: 1px solid #ddd;
          padding: 35px;
          color:@grayforte;
          margin-top: 20px;
          .btn-primary{
            border: 0;
            border-radius: 0;
            padding: 5px 0px;
            margin-right: 13px;
            width: 150px;
            margin-bottom: 6px;
              
            //  margin-right: 7px;
              &:disabled{
                  color: white;
              }
          }
        input,select{
           background: white;
           border: 1px solid @gray;
           margin: 0 2px;
           &:disabled{
               background: @gray;
           }
        }
    
        label{
            font-weight:normal;
        }
        span{
                margin: 0 4px;
        }
        p{
            margin:0;
            //display: flex; 
            margin-bottom: 20px;
            >*{
                display: inline-block;
                //vertical-align: bottom;
                margin-bottom:0;
            }
                   
        }
        #contactSelect{
            flex-grow: 1;
        }
        .separator{
             margin-right: 18px;
             display: inline-block;
             margin-bottom: 20px;   
             select{ 
                 width: 120px;
             }     
             input[type=text]{
                 width: 50px;
             }     
        }
    }

    #edit-list {
        .modal {
            overflow-y: hidden;
            .modal-dialog {
                .modal-content {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    .modal-header {
                        border: 0;
                    }
                }
                .modal-header {
                    .modal-title {
                        color: @blue;
                    }
                }
            }
        }
        .contact-model-form {
            max-height: 400px;
            overflow-y: auto;
        }
        .modal-backdrop.in {
            opacity: 0.9;
        }
        .btn-blue {
            margin-right: 10px;
        }
        .uib-daypicker .btn-sm{
            width: auto;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }

        .inputminimal input{
            padding: 5px 8px 0 8px;
        }
    }

    .subtitle_section{
        overflow: hidden;
        margin-bottom: 20px;
        h3{
            font-weight: normal;
            margin:0;
            font-family: BrandonLight;
        }

    }
    .progress-icon {
        font-size: 25px;
        width: 40px;
        height: 20px;
        background: url('@{images_al_path}/AB-App-ProcessingIcon.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
    }
    .disabled-x-circle{
        font-size: 25px;
        width: 50px;
        height: 20px;
        background: url('@{images_al_path}/CloseIcon-Default.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
    }

    .custom_form {
        .inputminimal {
            .datetime-button {
                position: absolute;
                right: 0;
                top: 0;
                .datepicker-button {
                    float:left;
                    font-size: 0;
                    position: relative;
                    white-space: nowrap;
                }
                .timepicker-input {
                    float: left;
                    position: relative;
                    white-space: nowrap;
                    input {
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .contact-buttons{
        margin-top: 30px;
    }

    .skillU-modal {
        #formSkill {
            max-width: 370px;
            .inputminimal {
                margin-bottom: 20px;
                label{
                    line-height: 35px;
                }
                select{
                    overflow: hidden;
                    width: 22.3em;
                }
                .abx-number-input{
                    font-size: 14px;
                    font-weight: normal;
                    padding-left: 12px;
                    line-height: 0;
                    width: 35px;
                    padding-top: 2px;
                }
            }
            .skillmodal-buttons {
                margin-top: 30px;
                button {
                    width: 105px;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }
        .custom_form {
            .level-input {
                width: 95px;
            }
        }
    }

    .user-skills-tab{
        .add-button{
            text-align: right;
            display: inline-block;
            margin-top: 15px;
            width: 100%;
        }
    }

    .list-group-roles{
        a{
            text-transform: capitalize;
        }
    }

    .edit-list{
        .pull-left h3{
            font-family: BrandonLight;
        }
        .search input{
            top: -15px;
        }
        .search .glyphicon-search{
            top: -6px;
        }
    }

    .edit-modal-x{
        right: -195px;
        position: absolute;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .skillU-modal{
            #formSkill {
                .inputminimal {
                    select{
                        padding-top: 7px;
                    }
                }     
            }
        }
    }
    .capitalize{
        text-transform: capitalize;
        padding-left: 0px;
    }
    .margin-with-footer{
        margin-bottom: 35px;
    }
    .fixed-margin-15{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}