// all styles for admin lite theme
.al-theme {
    //title style for section header
    .title_section {
        margin-top: 50px;
        color: @blue;
        font-size: 30px;
        margin-bottom: 50px;
        line-height: 20px;
        font-family: BrandonLight;
        span {
            color: @black;
        }
    }
    //buttons style black in all aplication
    .btn-black {
        background: @black;
        border-radius: 0;
        color: @white;
        padding: 0 32px;
        height: 30px;
        line-height: 30px;
        transition: all .2s ease-out;
        &:hover, &:active{
            background: #666;
            color: @white;
        }
    }
    //buttons style blue in all aplication
    .btn-blue {
        background: @blue;
        border-radius: 0;
        color: @white;
        padding: 0 32px;
        height: 30px;
        line-height: 30px;
        transition: all .2s ease-out;
        &:hover, &:active {
            background: #666;
            color: @white;
        }
    }
    // circle for delete in lists
    .circle_delete {
        font-size: 25px;
        color: @red;
        width: 50px;
        height: 20px;
        background: url('@{images_al_path}/DeleteIcon-Default.png') no-repeat center center;
        display: inline-block;
        vertical-align: middle;
        &:hover, &:active {
            background: url('@{images_al_path}/DeleteIcon-Active.png') no-repeat center center;
        }
    }
    .mywell {
        background: none;
        border: 0;
        padding: 0;
        margin: 0 0 50px;
        border-radius: 0;
        box-shadow: none;
        &.footer_table {
            font-family: BrandonRegular;
            margin-top: 50px;
            margin-bottom: 60px;
            font-size: 14px;
            overflow: hidden;
        }
    }
    // logo five9
    .logofive9 {
        max-width: 140px;
        width: 100%;
        margin:16px auto 0;
    }
    .loader_indicator {
        max-width: 270px;
        text-align: center;
        font-size: 24px;
        margin-top: 200px;
        color: #666;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-family: BrandonRegular;
        > img {
            margin-bottom: 15px;
        }
    }
    .noresults {
        font-size: 24px;
        color: #666;
        line-height: 49px;
        text-align: center;
        margin-top: 10%;
    }
    .sortColumn:hover {
        cursor: pointer;
    }
    .sortColumn:hover {
        cursor: pointer;
    }
    .results_per_page select {
        appearance: none;
        background: white url('@{images_al_path}/dropdown.png') no-repeat 82% center;
        margin: 0 3px;
        border: 1px solid @gray;
        padding: 3px 18px 3px 5px;
    }
    .to_capitalize {
        text-transform: lowercase;
        &:first-letter {
            text-transform: capitalize;
        }
    }
    .footer_table {
        .pull-left {
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .btn-row-campaign {
        border-radius: 0;
        padding: 2px 6px;
        font-size: 14px;
        border: 0;
        width: 70px;
    }
    .btn-danger {
        background: @red;
        &:disabled {
            background: #e64b3b;
        }
    }
    .btn-primary {
        background: @blue;
        &:disabled {
            background: #99cfec;
        }
    }
    .table-hover tr {
        cursor: pointer;
    }
    h4 {
        font-weight: normal;
    }

    
    
    .cell-select {
        width: 100%;
    }
    .cell-checkbox {
        width: 18px;
        height: 18px;
    }
    .number-updown-width{
        .abx-number-input{
            width: 92%;
            padding-right: 10px;
        }
        .abx-number-arrows{
            width: 8%;
            min-width: auto;
        }

    }


    //settings components
    .settings-container{
        margin-top: 10px;
        #csv-file{
            display: none;
        }
        .settings-file-container{
            font-size: 16px;
            &>label{
                color: black;
                font-weight: normal;
            }
        }
        &>div.upload-checkbox{
            color: #666;
        }
    }
    .settings-options-container{
        a.toggle-link{
            color: black;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            &:hover{
                color: black;
            }
        }
        .settings-advanced-container{
            margin-top: 20px;
            input[type="radio"],input[type="checkbox"]{
                margin-top: 10px;
            } 
            .sub-option{
                padding-left: 20px;
            }
            .settings-well{
                background-color: white;
                &>div{
                    color: #666;
                }
            }
        }
    }
    .settings-text{
        font-family: BrandonLight;
    }
    .settings-button-container{
        text-align: center;
    }
    .file-empty-error{
        color: red;
    }
    .button-container{
        &>button.btn-black{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    //change password column style
    .no-margin{
    margin: 0;
        &>div{
            padding-left: 5px;
            padding-right: 0;
            &>input.btn-black{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                height: 35px;
            }
        }
    }

    //add Modal transparent
    #modal-container{
        .modal-content{
            text-align: left;
            background: transparent;
            box-shadow: none;
            border: none;
        }
        .modal-input{
            width: 60%;
        }
        .modal-dialog{
            margin: 60px auto;
            margin-right: 0;
            width: 70%;

        }
        .modal-header{
            border: none;
            .title_section{
                margin-top: 35px;
                margin-bottom: 2px;
            }
        }
        .modal-backdrop.in{
            opacity: 0.9;
        }
        .modal-button-container{
            text-align: center;
            display: block;
            width: 60%;
            margin-top: 30px;
            &>button{
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        .error-message{
            width: 60%;
            margin-top: 20px;
        }
    }


    // ommit bootstrap col-x, adding fixed with to sidebar and fluid to rightside
    .sidebar{
        width: 200px;
        float: left;
    }
    .rightside{
        float: left;
        width: ~"calc(100% - 200px)"
    }
}