<div class="sc-theme">
  <div class="sc-header">
    <div class="row">
      <div class="header-domain-status">
        <div>Enterprise G <span>Connected</span></div>
      </div>
    </div>
    <div class="row">
      <div class="title-container">
        <img src="assets/sc/images/f9-sm.png" height="90px">
        <span>Supervisor Console</span>
      </div>

      <div class="actions-container">
        <div class="sc-icons-header">
        <!--  <button class="icon-button-sc"
                  ng-click="$ctrl.refreshWidgets()"
                  data-ng-disabled="$ctrl.enableRefresh()"
                  data-ng-class="{'disabled-refresh-add': $ctrl.enableRefreshAdd()}">
            <span class="sc-icon sc-refresh"></span>
          </button> -->
        </div>
        <div class="add-container">
          <div class="dropdown-sc">
            <button class="dropbtn-sc"
                    data-ng-disabled="$ctrl.enableRefreshAdd()"
                    data-ng-class="{'disabled-refresh-add': $ctrl.enableRefreshAdd()}">
              Add
            </button>
            <div class="dropdown-content-sc">
              <a data-ng-click="$ctrl.addWidget(option.key)"
                 ng-repeat="option in $ctrl.widgetTypes"
                 data-ng-class="{'disabled-refresh-add': $ctrl.enableRefreshAdd() || $ctrl.enableItemsAdd(option.key)}">
                {{option.label}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row details-container">
      <label>
        Softphone:&nbsp;12358497
        <strong>&#8226;</strong>&nbsp;Range:&nbsp;Current Day (From Midnight)
        <strong>&#8226;</strong>&nbsp;Campaign Manager Rolling Period:&nbsp;5 Mins
        <strong>&#8226;</strong>&nbsp;Filters:&nbsp;All Agent Groups, All Skills
      </label>
    </div>
  </div>
  <div class="sc-body">
    <div gridster="$ctrl.dashboardOptions" class="left-item">
      <ul>
        <li gridster-item="widget"
            ng-repeat="widget in $ctrl.dashboard.widgets">
            <div class="flex-container-sc" ng-show="widget.isLoading">
            <div class="loading-container-sc">
              <img src="/assets/rqa/images/Loading.gif">
              <p>Loading</p>
            </div> 
          </div> 
          <div class="sc-box" ng-show="!widget.isLoading">
            <div class="sc-box-header">
              <div class="title">
                {{widget.name}}
              </div>
              <div class="container-buttons-table">
                <button class="icon-button-sc">
                  <span class="sc-icon sc-reports"></span>
                </button>
                <button class="icon-button-sc" ng-class="{'active': true}">
                  <span class="sc-icon sc-bar"></span>
                </button>
                <button class="icon-button-sc" ng-click="$ctrl.configWidget(widget)">
                  <span class="sc-icon sc-cog"></span>
                </button>
                <button class="icon-button-sc-danger" ng-click="$ctrl.removeWidget(widget)">
                  <span class="sc-icon sc-trash"></span>
                </button>
              </div>
            </div>

            <div class="box-content">
              <div class="row content-table" data-ng-include="widget.template"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="statistics-settings-modal-container"></div>

