<div class="sc-theme">
  <div class="sc-header">
    <div class="row">
      <div class="header-domain-status">
        <div>Enterprise G <span>Connected</span></div>
      </div>
    </div>
    <div class="row">
      <div class="title-container">
        <img src="assets/sc/images/f9-sm.png">
        <span>Supervisor Console</span>
      </div>

      <div class="actions-container">
        <div class="searchbox_container">
          <input type="search"
                 ng-model="$ctrl.search.name"
                 class="searchbox sc-search"
                 placeholder="Search"
                 ng-change="$ctrl.filteringBySearch()">
          <span class="sc-search"></span>
        </div>
      </div>
    </div>
    <div class="row details-container">
      <label>
        Softphone:&nbsp;12358497
        <strong>&#8226;</strong>&nbsp;Range:&nbsp;Current Day (From Midnight)
        <strong>&#8226;</strong>&nbsp;Campaign Manager Rolling Period:&nbsp;5 Mins
        <strong>&#8226;</strong>&nbsp;Filters:&nbsp;All Agent Groups, All Skills
      </label>
    </div>
  </div>
  <div class="sc-body">
    <div gridster="$ctrl.gridOptions" class="left-item">
      <ul>
        <li gridster-item="item"
            ng-repeat="item in $ctrl.standardItems">
          <div class="sc-box">

            <div class="sc-box-header">
              <div class="title">
                {{item.name}}
              </div>
              <div class="container-buttons-table">
                <button class="icon-button-sc">
                  <span class="sc-icon sc-reports"></span>
                  </button>
                  <button class="icon-button-sc" ng-class="{'active': true}">
                  <span class="sc-icon sc-bar"></span>
                </button>
              </div>
            </div>

            <div class="box-content">
              <div class="row content-table" data-ng-include="item.template"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

