<abx-message msg="$ctrl.message"></abx-message> 
 
<h4 ng-show="$ctrl.skills.length==0 && !$ctrl.message.show" class="text-center "><span class="label label-success ">Loading ...</span></h4>

<div ng-show="$ctrl.skills.length>0" >

    
    <div class="mywell">

        <div class="searchbox_container">           
              <input type="search" ng-model="search.skill.name" class="searchbox" placeholder="Search Name">
              <span class="glyphicon glyphicon-search"></span> 
        </div>
      

        <button ui-sref="skills.create " class="btn btn-black pull-right">New</button>

    </div>

<table class="table table-striped">

    <thead>      

        <th ng-click="$ctrl.sortColumn( 'id') ">Id
            <span class="glyphicon " ng-show="$ctrl.sortKey=='id' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th ng-click="$ctrl.sortColumn( 'name') ">Name
            <span class="glyphicon " ng-show="$ctrl.sortKey=='name' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th ng-click="$ctrl.sortCoslumn( 'description') ">Description
            <span class="glyphicon " ng-show="$ctrl.sortKey=='description' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th ng-click="$ctrl.sortColumn( 'messageOfTheDay') "  class="text-center">Users
            <span class="glyphicon " ng-show="$ctrl.sortKey=='messageOfTheDay' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
        </th>
        <th width="100"  class="text-center">
            ACTIONS
        </th>
    </thead>
    <tbody>
        <!--tr ng-repeat="item in $ctrl.filteredSkills|filter:search "-->
        <tr ng-repeat="item in $ctrl.skills | filter:search | limitTo:$ctrl.numPerPage:$ctrl.beginNext | orderBy:$ctrl.sortKey:$ctrl.reverse "

        ng-class="{ 'danger' : $ctrl.toggleSkillRow==$index}">            
            <td>{{item.skill.id}}</td>
            <td>
                <a href ng-click="$ctrl.getDetail(item.skill)">{{item.skill.name}}</a></td>

            <td>{{item.skill.description}}</td>
            <td class="text-center">{{item.users.length}}</td>        
            <td class="text-center">

                <a href class="circle_delete" ng-click="$ctrl.deleteSkill(item.skill,$index)"  
                ng-hide="$ctrl.toggleSkillRow==$index "></a>

                <!--button class="btn btn-danger " ng-click="$ctrl.deleteSkill(item,$index) " ng-disabled="$ctrl.toggleSkillRow==$index ">
                    {{($ctrl.toggleSkillRow == $index)?'Deleting ..':'Delete'}}
                  
                </button>

                <!--button class="btn btn-info " ng-click="$ctrl.getDetail(item.skill) ">

                    Edit
                </button-->
            </td>
        </tr>
    </tbody>
</table>

<div class="mywell footer_table text-center">
    <label class="pull-left">Showing {{$ctrl.beginNext+1}}-{{$ctrl.currentPage*$ctrl.numPerPage}} of {{$ctrl.totalItems}}</label>    
    <uib-pagination total-items="$ctrl.totalItems " ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage
    " boundary-links="true "
    ng-change="$ctrl.pageChanged()" >
    </uib-pagination>
    <div class="pull-right">Show
        <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities ">
        </select> results per page
    </div>  
</div>

</div>