<h3 class="title_section">Skills</h3>

<abx-message msg="$ctrl.message"></abx-message>

<abx-load-indicator ng-show="$ctrl.skills.length==0 && !$ctrl.message.show" text="Loading Skills"></abx-load-indicator>

<div ng-show="$ctrl.skills.length>0">

    <div class="mywell">
        <div class="searchbox_container">
            <input type="search" ng-model="$ctrl.search.skill.name" class="searchbox" placeholder="Search" ng-change="$ctrl.filteringBySearch()">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <button ui-sref="ap.al.skillsCreate" class="btn btn-black pull-right">New</button>
    </div>

    <table class="table table-striped" ng-show="$ctrl.filteredSkills.length">
        <thead>
            <th ng-click="$ctrl.sortColumn( 'id')" class="sortColumn text-center" width="100">Id
                <span class="glyphicon " ng-show="$ctrl.sortKey=='id' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
            </th>
            <th ng-click="$ctrl.sortColumn('skill.name') " class="sortColumn">Name
                <span class="glyphicon " ng-show="$ctrl.sortKey=='skill.name' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>

            </th>
            <th>Description</th>
            <th class="text-center">Users</th>
            <th width="100" class="text-center">
                Actions
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="item in ( $ctrl.filteredSkills=($ctrl.skills | filter:$ctrl.search | orderBy:$ctrl.sortKey:$ctrl.reverse) | limitTo:$ctrl.numPerPage:$ctrl.beginNext ) "
                ng-class="{ 'danger' : $ctrl.toggleSkillRow==$index}">
                <td class="text-center">{{item.skill.id}}</td>
                <td>
                    <a href ng-click="$ctrl.getDetail(item.skill)">{{item.skill.name}}</a></td>

                <td>{{item.skill.description}}</td>
                <td class="text-center">{{item.users.length}}</td>
                <td class="text-center">

                    <a href class="circle_delete" ng-click="$ctrl.deleteSkill(item,$index)" ng-hide="$ctrl.toggleSkillRow==$index "></a>

                </td>
            </tr>
        </tbody>
    </table>

    <div class="mywell footer_table text-center">

        <div class="noresults" ng-show="!$ctrl.filteredSkills.length" ng-if="$ctrl.search.skill.name">
            <img src="assets/al/images/NoResultsIcon.png" alt="lupa">
            <p>We couldn't find what you are looking for</p>
        </div>


        <label class="pull-left" ng-show="$ctrl.filteredSkills.length">Showing {{$ctrl.beginNext+1}}-{{$ctrl.totalMin ? $ctrl.totalItems : $ctrl.getMax()}} of {{$ctrl.filteredSkills.length}}</label>


        <uib-pagination ng-show="$ctrl.filteredSkills.length" total-items="$ctrl.filteredSkills.length" ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage" boundary-links="true " ng-change="$ctrl.pageChanged()"
        max-size="$ctrl.global.maxSize">
        </uib-pagination>

        <div class="pull-right results_per_page" ng-show="$ctrl.filteredSkills.length"><span>Show</span>

            <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities" ng-change="$ctrl.pageChanged()">
        </select> <span>results per page</span>
        </div>
    </div>
</div>