<div class="extrappading">


<h3 class="title_section">Campaigns</h3>



<abx-message msg="$ctrl.message"></abx-message> 

 <h4 ng-hide="$ctrl.found" class="text-center"><span class="label label-success">Loading Campaign...</span></h4>
 
 <uib-tabset active="active1" justified="false" ng-hide="!$ctrl.found">
    <uib-tab index="0" heading="General"> 
        <form name="formCampaign" novalidate class="form-horizontal" ng-submit="formCampaign.$valid && $ctrl.update()">
            <div class="form-group" ng-class="{ 'has-error': formCampaign.campaignName.$invalid && formCampaign.$submitted }">
                <label class="control-label col-xs-3">Name</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" ng-model="$ctrl.campaign.name" name="campaignName" readonly >
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-xs-3">Description</label>
                <div class="col-xs-9">
                    <textarea  class="form-control" ng-model="$ctrl.campaign.description"></textarea>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (formCampaign.QuequeTimeMinutes.$invalid || formCampaign.QuequeTimeSeconds.$invalid) && formCampaign.$submitted }">
                <label  class="control-label col-xs-3">Max Queue Time (mm:ss) (*)</label>
                <div class="col-xs-9">
                    <input  type="number" name="QuequeTimeMinutes" min="0" max="59" ng-model="$ctrl.campaign.maxQueueTime.minutes" required>
                    <div ng-messages="formCampaign.QuequeTimeMinutes.$error" ng-show="formCampaign.$submitted">                  
                        <p ng-message="required">Minutes is required</p>
                    </div>  
                    : <input type="number" name="QuequeTimeSeconds" min="0" max="59"  ng-model="$ctrl.campaign.maxQueueTime.seconds" required> 
                    <div ng-messages="formCampaign.QuequeTimeSeconds.$error" ng-show="formCampaign.$submitted">                  
                        <p ng-message="required">Seconds is required</p>
                    </div>            
                </div>
            </div>

            <div class="form-group" >
                <label class="checkbox  col-xs-offset-3">
                    <input type="checkbox" id="inlineCheckbox1" ng-model="$ctrl.campaign.trainingMode"> Enable Training Mode
                </label>
                <label class="checkbox  col-xs-offset-3">
                    <input type="checkbox" id="inlineCheckbox2" ng-model="$ctrl.campaign.autoRecord"> Auto Record Call for Agents
                </label>
                <label class="checkbox  col-xs-offset-3">
                    <input type="checkbox" id="inlineCheckbox3" ng-model="$ctrl.campaign.noOutOfNumbersAlert""> Show 'Out of Numbers' Alert
                </label>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9 text-right">
                    <button type="submit" class="btn btn-success" ng-disabled="$ctrl.SubmitText=='Saving...'">{{$ctrl.SubmitText}}</button>
                    <button type="button" class="btn btn-warning" ui-sref="campaigns.list">Cancel</button>
                </div>
            </div>
        </form>          
    </uib-tab>
    <uib-tab index="1" heading="Lists">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Editing Campaign "{{::$ctrl.campaign.name}}" </strong>
            </div>
       <div class="panel-body">
        
        <div class="row">
            <div class="col col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Lists Assigned</strong>
                    </div>
                    <table  class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </td>
                        </thead>
                        <tbody  ng-repeat="listItemAssigned in $ctrl.listsAssigned ">
                            <tr>
                                <td>{{listItemAssigned}}</td>
                                <td><button class="btn btn-danger" ng-click="$ctrl.removeList(listItemAssigned)">Remove from Campaign</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col-xs-6">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Lists Available</strong>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="listItem in $ctrl.listsAvailable">
                                <tr ng-show="listItem.size && $ctrl.listsAssigned.indexOf(listItem.name)<0">
                                    <td>{{listItem.name}} ({{listItem.size}} Record(s))</td>
                                    <td><button class="btn btn-primary" ng-click="$ctrl.addList(listItem)">Add to Campaign</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        </div>
        </div>
     
    </uib-tab>
</uib-tabset>
</div>