<div class="modal-header">
	<button type="button" class="close circle_close edit-modal-x" ng-click="$ctrl.cancel()"></button>
	<h3 ng-show="$ctrl.method==='update'" class="modal-title">Edit contact</h3>
	<h3 ng-show="$ctrl.method==='create'" class="modal-title">Add new contact</h3>
</div>
<div class="modal-body">
	<abx-message msg="$ctrl.message"></abx-message>

	<form name="formList" novalidate ng-submit="formList.$valid && $ctrl.save()" class="custom_form fields-form form-horizontal">
		<div class="contact-model-form">
			<div ng-repeat="form in $ctrl.contactFields">
				<div class="inputminimal" ng-class="{ 'has-error': formList[form.name].$invalid && formList.$submitted }">
					<label for="{{form.name}}">{{form.name | removeUnderscore}}</label>					
					<span ng-if="form.type!=='MULTISET'">
						<input type="text" name="{{form.name}}" ng-model="$ctrl.contact[form.name]" abx-field-validator="form.restrictions" strategy="{{form.type}}" ng-trim="false" maxlength="250" ng-if="form.type==='STRING' || form.type==='EMAIL' || form.type==='URL'"/>
						<input type="text" name="{{form.name}}" ng-model="$ctrl.contact[form.name]" abx-regex-filter="[^0-9+\-()]" abx-field-validator="form.restrictions" strategy="{{form.type}}" ng-if="form.type==='PHONE'"/>
						<abx-date-picker-input name="{{form.name}}" validator="form.restrictions" strategy="{{form.type}}" ng-if="form.type==='DATE'" ng-model="$ctrl.contact[form.name]" date-format="{{form.dateFormat}}"></abx-date-picker-input>
						<abx-datetime-picker-input ng-if="form.type==='DATE_TIME'" ng-model="$ctrl.contact[form.name]" time-format="{{form.timeFormat}}" date-format="{{form.dateFormat}}"></abx-datetime-picker-input>

                     	<input type="text" name="{{form.name}}" ng-model="$ctrl.contact[form.name]" maxlength="18" abx-regex-filter="[^0-9.-]" abx-field-validator="form.restrictions" strategy="{{form.type}}" ng-if="form.type==='NUMBER' || form.type==='CURRENCY' || form.type==='PERCENT'"/>
                     	<input type="checkbox" class="form-boolean" ng-model="$ctrl.contact[form.name]" ng-init="$ctrl.contact[form.name]=false" ng-if="form.type==='BOOLEAN'">
                     	<select ng-options="item.value for item in form.dataSet track by item.value" ng-model="$ctrl.contact[form.name]" name="{{form.name}}" ng-required="form.required?true:false" ng-if="form.type==='SET'">
                     		<option value="" ng-if="!form.required"></option>
                     	</select>
                     	<input type="text" name="{{form.name}}" ng-model="$ctrl.contact[form.name]" placeholder="{{form.timeFormat}}" ng-if="form.type==='TIME' || form.type==='TIME_PERIOD'"/>
					</span>
					<abx-multi-select-input ng-model="$ctrl.contact[form.name]" options="form.dataSet" id="value" value="value" ng-if="form.type==='MULTISET'"></abx-multi-select-input>				
					<input type="hidden" ng-model="$ctrl.contact[form.name]" name="{{form.name}}" abx-multiset-validator="form.restrictions" ng-if="form.type==='MULTISET'">
				</div>
				<div class="errorMessagesModal" ng-messages="formList[form.name].$error" ng-show="formList.$submitted || formList[form.name].$dirty">
					<p ng-message="abxtype">{{$ctrl.FieldMessages.getTypeMessage(form)}}</p>
					<p ng-message="abxrequired">{{$ctrl.FieldMessages.getRequiredMessage(form)}}</p>
					<p ng-message="required">{{$ctrl.FieldMessages.getRequiredMessage(form)}}</p>
					<p ng-message="abxminvalue">{{$ctrl.FieldMessages.getMinMessage(form)}}</p>
					<p ng-message="abxmaxvalue">{{$ctrl.FieldMessages.getMaxMessage(form)}}</p>
					<p ng-message="abxregexp">{{$ctrl.FieldMessages.getRegexMessage(form)}}</p>
					<p ng-message="abxprecision">{{$ctrl.FieldMessages.getPrecisionMessage(form)}}</p>
					<p ng-message="abxscale">{{$ctrl.FieldMessages.getScaleMessage(form)}}</p>					
				</div>
			</div>
		</div>
		<div class="form-group contact-buttons">
			<div class="text-center remove-spaces-inline">
				<button ng-if="$ctrl.method == 'create'" class="btn btn-blue" type="submit">Insert</button>
				<button ng-if="$ctrl.method == 'update'" class="btn btn-blue" type="submit">Edit</button>
				<a class="btn btn-blue" ng-click="$ctrl.cancel()">Cancel</a>
			</div>
		</div>
	</form>
</div>

