<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close()">&times;</button>
    <h3 class="modal-title">Add new contact</h3>
</div>
<div class="modal-body al-theme">
    <form name="formList" novalidate ng-submit="formList.$valid && $ctrl.save(formList)" class="custom_form form-horizontal">
        <div class="contact-model-form">
          <div ng-repeat="form in $ctrl.formDataModal" > 
            <div class="inputminimal" ng-class="{ 'has-error': formList[form.name].$invalid && formList.$submitted }">  
                <label ng-if="!form.required" for="{{form.name}}">{{form.name | removeUnderscore}}</label>
                <label ng-if="form.required" for="{{form.name}}">{{form.name | removeUnderscore}} *</label>     
                <div>
                     <input ng-if="!form.required" type="{{form.type}}" name="{{form.name}}" ng-minlength="{{form.minlength}}" ng-maxlength="{{form.maxlength}}" id="{{form.name}}" ng-model="$ctrl.contact[form.name]" abx-check-phone/>

                     <input ng-if="form.required" type="{{form.type}}" name="{{form.name}}" ng-minlength="{{form.minlength}}" ng-maxlength="{{form.maxlength}}" id="{{form.name}}" ng-model="$ctrl.contact[form.name]" required="required" abx-check-phone/>
                </div>
            </div>
            <div ng-messages="formList[form.name].$error" ng-show="formList.$submitted">
                  <p ng-message="minlength">This field is too short</p>
                  <p ng-message="required">This field is required</p>
                  <p nf-if="form.type == 'email'" ng-message="email">This field must be an email address</p>
                  <p ng-message="usphoneValidator">This field is not a valid Number</p>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-blue" href type="submit">Save</button>
          <a class="btn btn-blue" href ng-click="$ctrl.cancel(formList)">Cancel</a>
        </div>
    </form>    
</div>
