
      <h3 class="title_section">Users</h3>

<abx-message msg="$ctrl.message"></abx-message> 


<abx-load-indicator  ng-show="$ctrl.usersList.length===0 " text="Loading Users"></abx-load-indicator> 




<div ng-hide="$ctrl.usersList.length===0">
    
    <div class="mywell">
        <div class="searchbox_container">
             
              <input type="search" ng-model="$ctrl.search.userName" class="searchbox" placeholder="Search" ng-change="$ctrl.filteringBySearch()">
               <span class="glyphicon glyphicon-search"></span>  
        </div>
        <button ui-sref="ap.al.usersCreate " class="btn btn-black pull-right">New</button>
    </div>
    

    <table class="table table-striped" ng-show="$ctrl.filteredUsers.length">

            <thead>
          
                <th ng-click="$ctrl.sortColumn('id') " class="sortColumn text-center">Id
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='id' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                  <th ng-click="$ctrl.sortColumn( 'userName') " class="sortColumn">User Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='userName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'firstName') " class="sortColumn">First Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='firstName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'lastName') " class="sortColumn">Last Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='lastName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'fullName') " class="sortColumn">Full Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='fullName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>              
                 <th ng-click="$ctrl.sortColumn( 'startDate') " class="sortColumn">Start Date
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='startDate' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                 <th ng-click="$ctrl.sortColumn( 'active') " class="sortColumn text-center">Active
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='active' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th class="text-center">
                    Actions
                </th>
            </thead>
            <tbody>              
                <tr ng-repeat="item in ( $ctrl.filteredUsers=($ctrl.usersList | filter:$ctrl.search | orderBy:$ctrl.sortKey:$ctrl.reverse) | limitTo:$ctrl.numPerPage:$ctrl.beginNext )"
                           ng-class="{ 'danger' : $ctrl.toogleUserRow==$index} ">
                    <td class="text-center">{{item.id}}</td>
                    <td>
                        <a href ng-click="$ctrl.getDetail(item)">
                            {{item.userName}}
                        </a>
                    </td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.fullName}}</td>       
             
                    <td>{{item.startDate | date:"MM/dd/yyyy" }}</td>
                    <td class="text-center to_capitalize">{{item.active}}</td>
                    <td  class="text-center">                        
               
                        <a href class="circle_delete" ng-click="$ctrl.deleteUser(item,$index)"  
                ng-hide="$ctrl.toogleUserRow==$index "></a>
                        <!--button class="btn btn-danger" ng-disabled="$ctrl.toogleUserRow==$index" ng-click="$ctrl.deleteUser(item,$index)" >
                            {{($ctrl.toogleUserRow == $index)?'Deleting ..':'Delete'}}
                        </button>
                        <button class="btn btn-info" ng-click="$ctrl.getDetail(item)">
                            Edit
                        </button-->
                    </td>
                </tr>
            </tbody>
        </table>

   <div class="mywell footer_table text-center">

   <div  class="noresults" ng-show="!$ctrl.filteredUsers.length"  ng-if="$ctrl.search.userName">
          <img src="assets/al/images/NoResultsIcon.png" alt="lupa">
         <p>We couldn't find what you are looking for</p>
   </div>


        <label class="pull-left" ng-show="$ctrl.filteredUsers.length" >Showing {{$ctrl.beginNext+1}}-{{$ctrl.getMax()}} of {{$ctrl.filteredUsers.length}}</label>    

        <uib-pagination ng-show="$ctrl.filteredUsers.length"  total-items="$ctrl.filteredUsers.length " ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage
        " boundary-links="true "
        ng-change="$ctrl.pageChanged()" >
        </uib-pagination>

        <div class="pull-right results_per_page" ng-show="$ctrl.filteredUsers.length"><span>Show</span>

            <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities" ng-change="$ctrl.pageChanged()">
            </select><span>results per page</span> 
        </div>  
    </div>
</div>
