
<div class="alert alert-{{$ctrl.message.type}}" role="alert" ng-show="$ctrl.message.show">
    <p ng-bind-html="$ctrl.message.text"></p>
</div>

<h4 ng-show="$ctrl.usersList.length===0 " class="text-center ">
    <span class="label label-success ">Loading ...</span>
</h4>
<div ng-hide="$ctrl.usersList.length===0">
     <div class="well well-sm ">    
        <form class="form-inline ">
            <div class="form-group ">
                <button ui-sref="users.create " class="btn btn-warning ">Create New User</button>
            </div>
                <div class="form-group ">
                <label>Search</label>
                <input type="text " ng-model="search " class="form-control " placeholder="Search ">
            </div>
        </form>
    </div>
    <div class="panel panel-primary ">
        <div class="panel-heading ">
            <strong>Users List</strong>
        </div>
        <table class="table table-striped table-bordered table-hover ">
            <thead>
                <th>ID TABLE</th>
                <th ng-click="$ctrl.sortColumn('id') ">Id
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='id' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'firstName') ">First Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='firstName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'lastName') ">Last Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='lastName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'fullName') ">Full Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='fullName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th ng-click="$ctrl.sortColumn( 'userName') ">User Name
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='userName' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                 <th ng-click="$ctrl.sortColumn( 'startDate') ">Start Date
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='startDate' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                 <th ng-click="$ctrl.sortColumn( 'active') ">Active
                    <span class="glyphicon " ng-show="$ctrl.sortKey=='active' " ng-class="{ 'glyphicon-chevron-up':$ctrl.reverse,
'glyphicon-chevron-down':!$ctrl.reverse} "></span>
                </th>
                <th>
                    ACTIONS
                </th>
            </thead>
            <tbody>
                <!--tr ng-repeat="item in $ctrl.filteredSkills|filter:search "-->
                <tr ng-repeat="item in $ctrl.usersList | filter:search | limitTo:$ctrl.numPerPage:$ctrl.beginNext | orderBy:$ctrl.sortKey:$ctrl.reverse "
                           ng-dblclick="$ctrl.getDetail(item)"  ng-class="{ 'danger' : $ctrl.toogleUserRow==$index} ">
                    <td>{{$ctrl.beginNext+$index+1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.userName}}</td>
             
                    <td>{{item.startDate | date:"MM/dd/yyyy" }}</td>
                    <td>{{item.active}}</td>
                    <td>

                        <button class="btn btn-danger" ng-disabled="$ctrl.toogleUserRow==$index" ng-click="$ctrl.deleteUser(item,$index)" >
                            {{($ctrl.toogleUserRow == $index)?'Deleting ..':'Delete'}}
                        </button>
                        <button class="btn btn-info" ng-click="$ctrl.getDetail(item)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <label>Displaying {{$ctrl.beginNext+1}}-{{$ctrl.currentPage*$ctrl.numPerPage}} of {{$ctrl.totalItems}}</label>

    <uib-pagination total-items="$ctrl.totalItems " ng-model="$ctrl.currentPage " items-per-page="$ctrl.numPerPage
" boundary-links="true " ng-change="$ctrl.pageChanged() ">
    </uib-pagination>

    Show
    <select ng-model="$ctrl.numPerPage " ng-options="o as o for o in $ctrl.quantities ">
    </select> results per page
</div>