<aside class="col-sm-3 col-md-2 sidebar">  
    <img src="assets/al/images/logo.jpg" alt="Five9" class="img-responsive">
     <h3 id="title_sidebar" class="text-center">ADMIN LITE</h3>
 <div class="list-group">
  <a ui-sref="main" class="list-group-item"  ui-sref-active="active">
    Home
  </a>
  <a ui-sref="skills.list" class="list-group-item"  ui-sref-active="active">Skills</a>
  <a ui-sref="users.list" class="list-group-item"  ui-sref-active="active">Users</a>
  <a ui-sref="campaigns.list" class="list-group-item"  ui-sref-active="active">Campaigns</a>
  <a href="#" class="list-group-item">Dispositions</a>
  <a href="#" class="list-group-item">Lists</a>
 
 
 
</div>
</aside>