

<aside class="extrappading">  
 

    <img src="assets/al/images/logo.jpg" alt="Five9" class="img-responsive">
     <h3 id="title_sidebar" class="text-center">ADMIN LITE</h3>
      <div class="list-group">
        <a ui-sref="ap.al.skills" class="list-group-item"  ui-sref-active="active">Skills</a>
        <a ui-sref="ap.al.users" class="list-group-item"  ui-sref-active="active">Users</a>
        <a ui-sref="ap.al.campaigns" class="list-group-item"  ui-sref-active="active">Campaigns</a>
        <a ui-sref="ap.al.dispositions"  class="list-group-item">Dispositions</a>
        <a ui-sref="ap.al.lists" ui-sref-active="active" class="list-group-item">Lists</a>
        <a href="/underconstruction" class="list-group-item">Campaigns Profiles</a>
        <a href="/underconstruction" class="list-group-item">Agents Groups</a>
        <a href="/underconstruction" class="list-group-item">Contacs fields</a>
        <a href="/underconstruction" class="list-group-item">IVR Scripts</a>
        <a href="/underconstruction" class="list-group-item">Dispositions</a>
        <a href="/underconstruction" class="list-group-item">Reports</a>

      </div>

      </div>


</aside>
