<div class="btn-group" ng-class="{open: open}" style="width: 85%;">
	<a class="btn btn-small" style="width: 95%;">{{getItems()}}</a> 
	<a class="btn btn-small dropdown-toggle" ng-click="openDropdown()" style="width: 5%;" >
		<span class="caret"></span>
	</a> 
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="position: absolute; width: 100%;"> 
		<li style="cursor:pointer;" ng-repeat="option in options">
			<a ng-click="toggleSelectItem(option)">
				<span ng-class="getClassName(option)" aria-hidden="true"></span> {{option[value]}}
			</a>
		</li> 
	</ul> 
</div>