.register {
    width: 350px;
    margin: 200px auto;
    h1{
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0;
    }
    label{
      margin-top: 20px;
      text-transform: uppercase;
    }
    input, select{
      width: 100%;
      background: #ffffff;
      border: 1px solid #efefef;
      line-height: 2;
      padding: 0 10px;
    }
    .alert{
      background: #e64b3b;
      color: #FFF;
    }
  }
