.register {
    width: 350px;
    margin: 200px auto;
    label{
      margin-right: 20px;
      text-transform: uppercase;
    }
    input, select{
      width: 100%;
      background: #ffffff;
      border: 1px solid #efefef;
      line-height: 2;
      padding: 0 10px;
    }
    required{
      background: #FF0000;
    }
  }
