<div class="modal-header">
    <button type="button" class="close circle_close" ng-click="$ctrl.close()"></button>
    <h3 class="title_section">List: New list</h3>
    <div class="error-message">
        <abx-message msg="$ctrl.message"></abx-message>
    </div> 
</div>
<div class="modal-body al-theme">
    <form name="listForm" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="listForm.$valid && $ctrl.save()">
        <div class="form-field modal-input"
             ng-class="{ 'has-error': listForm.name.$invalid && listForm.$submitted }">
            <label>Name*</label>
            <span>
            <input autofocus
                  type="text"
                  name="name"
                  id="name"
                  required
                  ng-model="$ctrl.list.listName"
                  maxlength="250"
                  abx-pattern-filter="/^[^\`~&%#,|()':;?[/}=\]&quot;{*>!\\+<^]*$/"
                  class="inline-input">
            </span>
        </div>
    <div ng-messages="listForm.name.$error" ng-show="listForm.$submitted">                  
        <p ng-message="required">This field is required</p>
    </div> 
        <div class="modal-button-container">
          <button class="btn btn-blue" ng-disabled="$ctrl.SubmitText=='Saving...'" href type="submit">{{$ctrl.SubmitText}}</button>
          <a class="btn btn-blue" href ng-click="$ctrl.close()">Cancel</a>
        </div>
    </form>    
</div>
