<div class="partneraccounts-page">
	<navbar></navbar>
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4   partner-accounts-list">
		<img src="assets/al/images/logo-sm.jpg" alt="Five9" class="center-block"> 
		<h3 class="text-center">Choose account</h3>
		<h3 class="title-container">
			<span>Five9</span> accounts
		</h3>
		<ul class="list-group account-list">
			<li class="list-group-item"  ng-repeat="item in $ctrl.accountsList" ng-click="$ctrl.clickList(item)">			
					<img ng-src="assets/al/images/{{item.avatar}}" alt="avatar" class="img-circle fixed-avatar">
					{{item.name}}	
			</li>
		</ul>
		<div class="text-center">
			<a href="/underconstruction" class="text-center">Add new account</a>
		</div>
	</div>
	<footer class="row"></footer>
</div>