<div class="settings-options-container">
	<div class="settings-text">
	<h3>List update</h3>
	<p ng-show="!$ctrl.isUpdate">Select how would you like to remove your list records:</p>
	<p ng-show="$ctrl.isUpdate">Select how would you like to update the list:</p>
	</div>
	<a class="toggle-link" ng-click="$ctrl.advancedOptions.isCollapsed = !$ctrl.advancedOptions.isCollapsed">
		<i class="pull-left fa" ng-class="{'fa-angle-right': $ctrl.advancedOptions.isCollapsed, 'fa-angle-up': !$ctrl.advancedOptions.isCollapsed}" ></i>
		Advanced options
	</a>
	<div class='settings-advanced-container' uib-collapse="$ctrl.advancedOptions.isCollapsed">
		<div class="well settings-well" ng-show="!$ctrl.isUpdate">
			<h4>Actions for list update:</h4>
			<label>
	    	<input type="radio" ng-model="$ctrl.listDeleteSettings.listDeleteMode" value='DELETE_ALL'> Remove all matching records from list
	    </label>
			<label>
	    	<input type="radio" ng-model="$ctrl.listDeleteSettings.listDeleteMode" value='DELETE_EXCEPT_FIRST'> Remove all matching list records and add first (oldest) matching Contact Record to list
		  </label>
		</div>
		<div class="well settings-well" ng-show="$ctrl.isUpdate">
			<h4>Action for list update:</h4>
		  <div class="sub-option">
		  	<label>
	      	<input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_FIRST'> Add first (oldest) matching Contact Record to the list
	      </label>
				<label>
	      	<input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_ALL'> Add all matching Contact Records (in case of multiple records) to the list
	      </label>
				<label>
	      	<input type="radio" ng-model="$ctrl.listUpdateSettings.listAddMode" value='ADD_IF_SOLE_CRM_MATCH'> Skip list record if multiple matches are found in Contact
	      </label>
			</div>
			<label>
				<input type="checkbox" ng-model="$ctrl.listUpdateSettings.cleanListBeforeUpdate"> Delete all list records before update. Warning: some reporting data will be lost
			</label>
			<h4>Actions for Contact update</h4>
			<label>
	    	<input type="checkbox" ng-model="$ctrl.listUpdateSettings.crmAddMode" ng-false-value="'DONT_ADD'"  ng-true-value="'ADD_NEW'"> Add new Record if matching key is not found in Contacts
	    </label>
			<label>
				<input type="checkbox" ng-model="$ctrl.updateRecords" ng-change="$ctrl.setUpdateValue()"> Update existing Contact Record(s) with matching key
	    </label>
			<div class="sub-option">
	    	<label>
	      	<input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_FIRST'> First (oldest) matching record
	      </label>
		    <label>
	      	<input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_ALL'> All matching records (in case of multiple matches)
	      </label>
		    <label>
	      	<input type="radio" ng-disabled="!$ctrl.updateRecords" ng-model="$ctrl.listUpdateSettings.crmUpdateMode" value='UPDATE_SOLE_MATCHES'> Only if single match in Contacts
	      </label>
			</div>
		</div>
	</div>
	<div class="checkbox fixed-margin-15 settings-text">
		<label>
	  	<input type="checkbox"> Check records in DNC list
		</label>
	</div>
</div>
