<div class="modal-header">
    <button type="button" class="close circle_close" ng-click="$ctrl.close()"></button>
    <h3 class="title_section">Change password</h3>
    <div class="error-message">
        <abx-message msg="$ctrl.message"></abx-message>
    </div> 
</div>
<div class="modal-body al-theme">
    <form name="passwordForm" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="passwordForm.$valid && $ctrl.save()">
    <div class="inputminimal modal-input" ng-class="{ 'has-error': listForm.name.$invalid && listForm.$submitted }">
        <label for="password" >Enter new password</label>
        <input autofocus type="password" name="password" minlength="6" id="password" maxlength="250" autocomplete="false" ng-model="$ctrl.password" required class="inline-input">
    </div>
    <div ng-messages="passwordForm.password.$error" ng-show="passwordForm.$submitted" class="error-modal">                  
        <p ng-message="minlength">The field needs to be al least 6 characters</p>
        <p ng-message="required">This field is required</p>
    </div> 
    <div class="inputminimal modal-input medium-input" ng-class="{ 'has-error': listForm.name.$invalid && listForm.$submitted }">
        <label for="confirm" >Confirm password</label>
        <input autofocus type="password" name="confirm" id="confirm" maxlength="250" autocomplete="false" ng-model="$ctrl.confirm" class="inline-input">
    </div>
        <div class="modal-button-container">
          <button class="btn btn-blue" type="submit">OK</button>
          <a class="btn btn-blue" href ng-click="$ctrl.close()">Cancel</a>
        </div>
    </form>    
</div>