<div class="modal-header">
    <button type="button" class="close circle_close" ng-click="$ctrl.close()"></button>
    <h3 class="title_section">Change password</h3>
    <div class="error-message">
        <abx-message msg="$ctrl.message"></abx-message>
    </div> 
</div>
<div class="modal-body al-theme">
    <form name="listForm" class="custom_form form-horizontal" novalidate autocomplete="off"  ng-submit="listForm.$valid && $ctrl.save()">
    <div class="inputminimal modal-input" ng-class="{ 'has-error': listForm.name.$invalid && listForm.$submitted }">
        <label for="password" >Enter new password</label>
        <div>
            <input autofocus type="password" name="password" id="password" autocomplete="false" ng-model="$ctrl.password">
         </div>
    </div>
    <div class="inputminimal modal-input medium-input" ng-class="{ 'has-error': listForm.name.$invalid && listForm.$submitted }">
        <label for="confirm" >Confirm password</label>
        <div>
            <input autofocus type="password" name="confirm" id="confirm" autocomplete="false" ng-model="$ctrl.confirm">
        </div>
    </div>
        <div class="modal-button-container">
          <button class="btn btn-blue" ng-disabled="$ctrl.SubmitText=='Saving...'" href type="submit">{{$ctrl.SubmitText}}</button>
          <a class="btn btn-blue" href ng-click="$ctrl.close()">Cancel</a>
        </div>
    </form>    
</div>