.navbar{
  border-radius: 0;
}
.container-fluid{
  padding: 0;
}
notfound{
  margin: 0;
    .notfound_parent{
        height: 73%;
        min-height:568px;  
        text-align: center;
        margin:200px auto 0;
        text-align: center;
        width: 565px;
        h3 {
            width:250px;
            font-size: 45px;
            font-family: BrandonBold;
            padding-bottom: 6px;
            border-bottom: 6px solid @blue;
            margin:20px 155px;
        }
        p {
            font-size: 32px;
            font-family: BrandonRegular;
            .small{
                font-size:14px;
            }
        }
    }
}