<div ng-if="$ctrl.isNotLoggedIn" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/ap/dashboard" class="logo">AutoBox</a>
    </div>
  </div>
</div>
<navbar ng-if="$ctrl.isLoggedIn"></navbar>
<div class="notfound_parent">
	<h3>404 ERROR </h3>
	<p>The page you were looking for was not found</p>
	<p class="small">Go back to <a ng-if="$ctrl.isNotLoggedIn" href="/">Home</a>
                              <a ng-if="$ctrl.isLoggedIn" href="/ap/apps">Apps</a></p>
</div>
<footer class="notfound"></footer>
