.al-theme{
	.partner-login-container{
		margin-top: 30px;
		text-align: center;
		&>h3{
			font-family: BrandonRegular;
		}
		.login-button-container{
			&>a{
				font-family: BrandonRegular;
				display: block;
				margin-top: 20px;
			}
			&>button.btn{
				margin-top: 10px;
			}
		}
		.fixed-logo{
			height: 140px;
			width: 140px;
		}
		.title-container{
			color: #666;
			font-size: 18px;
			&>label{
				font-size: 20px;
				font-weight: 500;
				color: @black;
				margin-right: 5px;
			}
		}
		.avatar-container{
			margin-bottom: 20px;
			.fixed-avatar{
				height: 60px;
				width: 60px;
			}
			&>label{
				display: block;
				font-size: 16px;
				margin-top: 5px;
				font-family: BrandonRegular;
				font-weight: bold;
			}
		}
		.custom_form{
			.inputminimal{
				background: #f7f7f7;
			}
		}
	}
}